<ng-container *ngIf="form$ | async as form">
    <form [formGroup]="form">
        <div class="block">
            <div class="row">
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Anode Voltage</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vamax" #vamax="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vamax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vamax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Anode Voltage Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vamaxp" #vamaxp="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vamaxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vamaxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Anode Power</mat-label>
                    <input type="number" autocomplete="off" min="0" step="0.5" matInput formControlName="pamax" #pamax="matInput">
                    <span class="unit">W</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="pamax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.pamax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="hasG2" [@rowAnimation]>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Grid 2 Voltage</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vg2max" #vg2max="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vg2max"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vg2max.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Grid 2 Voltage Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vg2maxp" #vg2maxp="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vg2maxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vg2maxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Grid 2 Power</mat-label>
                    <input type="number" autocomplete="off" min="0" step="0.5" matInput formControlName="pg2max" #pg2max="matInput">
                    <span class="unit">W</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="pg2max"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.pg2max.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="hasG2" [@rowAnimation]>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Grid 2 Current</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ig2max" #ig2max="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ig2max"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ig2max.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Grid 2 Current Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ig2maxp" #ig2maxp="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ig2maxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ig2maxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Cathode Current</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ikmax" #ikmax="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ikmax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ikmax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Cathode Current Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ikmaxp" #ikmaxp="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ikmaxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ikmaxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="hasG1" [@rowAnimation]>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Negative Grid 1 Voltage</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vg1nmax" #vg1nmax="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vg1nmax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vg1nmax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Neg Grid 1 Voltage Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vg1nmaxp" #vg1nmaxp="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vg1nmaxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vg1nmaxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Heater-Cathode Neg. Volt.</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vhknmax" #vhknmax="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vhknmax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vhknmax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Max Heater-Cathode Pos. Volt.</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="vhkpmax" #vhkpmax="matInput">
                    <span class="unit">V</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="vhkpmax"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.vhkpmax.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row" *ngIf="hasG1" [@rowAnimation]>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Grid 1 Current</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ig1max" #ig1max="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ig1max"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ig1max.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Maximum Grid 1 Current Peak</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="ig1maxp" #ig1maxp="matInput">
                    <span class="unit">mA</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="ig1maxp"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.ig1maxp.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="cell cell-33" *ngIf="hasG1" [@rowAnimation]>
                    <mat-label translate>Capacitances Grid-Cathode</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="cgk" #cgk="matInput">
                    <span class="unit">pF</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="cgk"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.cgk.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33" *ngIf="hasG1" [@rowAnimation]>
                    <mat-label translate>Capacitances Grid-Anode</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="cga" #cga="matInput">
                    <span class="unit">pF</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="cga"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.cga.errors) as error">{{error}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cell cell-33">
                    <mat-label translate>Capacitances Anode-Cathode</mat-label>
                    <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="cak" #cak="matInput">
                    <span class="unit">pF</span>
                    <numeric-stepper layout="horizontal-inlay" [input]="cak"></numeric-stepper>
                    <mat-error *ngIf="errorService.getError(form.controls.cak.errors) as error">{{error}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</ng-container>
