@use '../../scss/step-layout'as stepLayout;

:host {
    display: flex;

    form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;

        @include stepLayout.layout();
    }
}
