<mat-toolbar class="dialog-toolbar" color="primary">
    <span class="dialog-title" translate>Select the curve you want to delete.</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="dialog-container">
    <mat-checkbox *ngFor="let curve of curves" [id]="curve.vg1.toString()">vg1 = {{ curve.vg1 }} V</mat-checkbox>
</div>

<div class="dialog-buttons">
    <button type="button" mat-button [mat-dialog-close] color="primary" translate>Cancel</button>
    <button type="button" mat-stroked-button [throttle-event]="validate$()" color="primary" translate>Ok</button>
</div>
