@use 'src/app/scss/components/loader'as loader-mixin;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    @include loader-mixin.loader();

    * {
        box-sizing: border-box;
    }

    .waiter {
        margin-top: 1.5rem; // Relative to host, 1.5rem to translate the toolbar height
    }

    .image,
    .error {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;

        &[waiter="true"] {
            min-height: 400px;

            >img {
                opacity: 0;
            }
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 90vw;
            max-height: 83vh;
            opacity: 1;
            transition: opacity 300ms ease-in;
        }
    }
}
