<mat-toolbar class="dialog-toolbar" color="primary">
    <mat-icon class="icon">attachment</mat-icon>
    <div class="dialog-title">{{data.title || data.filename}}</div>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<div *ngIf="!hasError" class="image" [attr.waiter]="waiter || null">
    <img #img [src]="data?.filename" (load)="waiter=false" (error)="hasError=true">
    <div *ngIf="waiter && !hasError" class="waiter"></div>
</div>
<div *ngIf="hasError" class="error" color="warn" translate>This file is not available.</div>
