@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;
@use './transfer-graph-editor/transfer-graph-editor-theme'as graphEditor;


@mixin theme($theme) {
    app-chart-wizard {
        $accent: map-get($theme, accent);
        $background: map-get($theme, background);

        .graph-content {
            @include graphEditor.theme($theme);
        }

        .dialog-content {
            .chart-boundser {
                border-color: mat.get-color-from-palette($accent);

                form {
                    @include utils.colorize($background, 800);
                }
            }
        }
    }
}
