@use 'src/app/scss/components/loader'as loader-mixin;

app-chart-wizard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    * {
        box-sizing: border-box;
        user-select: none;
    }

    .expand {
        flex: 1 1 auto;
    }

    .dialog-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        overflow: hidden;
        position: relative;
        gap: 1rem;

        @include loader-mixin.loader();

        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .pdf-viewer,
        .app-upload,
        .graph-content {
            height: 100%;
            width: 100%;
        }

        .graph-content {
            position: relative;
            display: flex;
            flex: 1 1 100%;

            .chart-boundser {
                z-index: 1;
                background-color: transparent;
                width: 50%;
                height: 50%;
                left: 25%;
                top: 25%;
                position: absolute;
                transition: opacity 300ms linear;
                overflow: visible;

                &[step="3"],
                &[step="4"] {
                    border-width: 3px;
                    border-style: solid;
                }

                form {
                    display: inline-flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 1rem;
                    left: 50%;
                    top: 50%;
                    position: relative;
                    transform: translate(-50%, -50%);

                    .row {
                        display: flex;
                        gap: 1rem;
                        align-items: baseline;

                        .mat-form-field,
                        .mat-checkbox {
                            flex: 1 1 auto;
                        }
                    }
                }
            }

            app-transfer-graph-editor {
                z-index: 2;

                .highcharts-credits {
                    display: none; // Cause issues with the edition of curves
                }
            }

            .image {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    left: 50%;
                    top: 50%;
                    position: relative;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                }
            }
        }

        .step,
        .mat-card-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            gap: 1rem;
        }

        .step1 {
            max-width: 800px;

            .mat-button-wrapper {
                .mat-icon {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .dialog-buttons {
        display: flex;
        gap: 0.5rem;
        padding: 1rem;

        .mat-slider {
            margin: 0 1rem;
        }
    }
}
