<mat-toolbar class="dialog-toolbar" color="primary">
    <mat-icon class="icon">attachment</mat-icon>
    <span class="dialog-title">{{ 'Create a new chart for' | trans }} {{ tube.label }}</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="dialog-content" *ngIf="step$ | async as step">
    <mat-card class="step step1" *ngIf="step === 1">
        <mat-card-title class="text-wrapper">
            <div class="text" translate>To create a new graphic, you will be able to draw over an existing image from a datasheet or another document.</div>
            <div class="text" translate>Please select the document to use or upload a new one.</div>
        </mat-card-title>
        <mat-card-content>
            <app-attachments [selectedId]="(storage$ | async).selectedDocumentId" (selectedIdChange)="selectedDocumentId$.next($event)" [documentFilter]="chartWizardAcceptedExtensionPattern" [tube]="tube"></app-attachments>
        </mat-card-content>
        <mat-card-actions>
            <input #fileUpload class="file-upload" type="file" accept="image/*,application/pdf" (change)="uploadDocument$.next($event)">
            <button type="button" mat-button (click)="fileUpload.click()">
                <mat-icon>library_books</mat-icon>
                <span translate>Upload a new document</span>
            </button>
            <button type="button" mat-button *ngIf="lastStorage$ | async as lastStorage" [throttle-event]="loadStorage$(lastStorage)">
                <mat-icon class="icon" graph-icon></mat-icon>
                <span translate>Restore previous work for this tube</span><span>: {{ lastStorage.chartParameters.title }}</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <ng-container *ngIf="step >= 2">
        <mat-card-title class="text-wrapper">
            <div class="text" *ngIf="step === 2" translate>Select the page you want to save, rotate the graphic if necessary, and click next.</div>
            <div class="text" *ngIf="step === 3" translate>Move and size the colored rectangle above the drawing, matching the edges with the axes and the limits of the curve area.</div>
            <div class="text" *ngIf="step === 4" translate>Enter title and the electrical parameters corresponding to the loaded graph</div>
            <ng-container *ngIf="curveAdding$ | async as chartCurve; else steptitle">
                <div class="text" *ngIf="chartCurve.vg1 === undefined" translate>Entre the grid 1 voltage for the curve you want to place.</div>
                <div class="text" *ngIf="chartCurve.vg1 !== undefined" translate>Click on the graph to add more points and move the points to match the drawing.</div>
            </ng-container>
            <ng-template #steptitle>
                <div class="text" *ngIf="step === 5" translate>Click the Add Curve button and place the curve with the mouse over the chart line. Double click to an existing curve to edit it.</div>
            </ng-template>
            <div class="text" *ngIf="step === 6" translate>Vérifiy your chart and click on the save button if everything is ok.</div>
        </mat-card-title>

        <ng-container *ngIf="step === 2 && !hasError && documentUrl$ | async as documentUrl">
            <ng-container *ngIf="uploadData$ | async as uploadData; else pdfviewer">
                <app-upload class="app-upload" [uploadData]="uploadData" (uploadDone)="uploadDataDone$.next($event)"></app-upload>
            </ng-container>
            <ng-template #pdfviewer>
                <app-pdf-viewer class="pdf-viewer" [filename]="documentUrl" (documentLoaded)="waiter=false" [isViewer]="false"></app-pdf-viewer>
            </ng-template>
        </ng-container>

        <div class="graph-content" *ngIf="step > 2">
            <div #chartboundser *ngIf="step < 6" [attr.step]="step" class="chart-boundser" [ngStyle]="{'cursor': cursor$ | async}">
                <ng-container *ngIf="parametersForm$ | async as form">
                    <form [formGroup]="form">
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label translate>Title</mat-label>
                                <input type="text" required matInput formControlName="title" autocomplete="off">
                                <mat-error *ngIf="errorService.getError(form.controls.title.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label translate>Anode Voltage Min</mat-label>
                                <input type="number" autocomplete="off" required min="0" step="10" matInput formControlName="vaMin" #vamin="matInput">
                                <span class="unit">V</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="vamin"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(form.controls.vaMin.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label translate>Anode Voltage Max</mat-label>
                                <input type="number" autocomplete="off" required min="0" step="10" matInput formControlName="vaMax" #vamax="matInput">
                                <span class="unit">V</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="vamax"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(form.controls.vaMax.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label translate>Anode Current Min</mat-label>
                                <input type="number" autocomplete="off" required min="0" step="10" matInput formControlName="iaMin" #iamin="matInput">
                                <span class="unit">mA</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="iamin"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(form.controls.iaMin.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label translate>Anode Current Max</mat-label>
                                <input type="number" autocomplete="off" required min="0" step="10" matInput formControlName="iaMax" #iamax="matInput">
                                <span class="unit">mA</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="iamax"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(form.controls.iaMax.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label translate>Grid 2 Voltage</mat-label>
                                <input type="number" autocomplete="off" min="0" step="10" matInput formControlName="vg2" #vg2="matInput">
                                <span class="unit">V</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="vg2"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(form.controls.vg2.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <mat-checkbox formControlName="isTriode"><span translate>Triode</span></mat-checkbox>
                        </div>
                    </form>
                </ng-container>
            </div>
            <ng-container *ngIf="this.curves$ | async as curves">
                <app-transfer-graph-editor *ngIf="storage$ | async as storage" [editable]="!!(curveAdding$ | async)" [bounds]="this.chartBounds$ | async" [curves]="curves" (curveChange)="updateCurve$.next($event)" (curveDoubleClick)="editCurve$.next($event)" [axis]="storage.chartParameters" [showAxis]="step === 6" [title]="step === 6 ? storage.chartParameters.title : ''"></app-transfer-graph-editor>
            </ng-container>

            <div *ngIf="!hasError && documentUrl$ | async as documentUrl" class="image" [attr.waiter]="waiter || null" [ngStyle]="{'opacity': (storage$ | async).imageOpacity}">
                <img #img [src]="documentUrl" (load)="imageLoaded(img)" (error)="hasError = true">
            </div>
        </div>

        <div *ngIf="hasError" class="error" color="warn" translate>This file is not available.</div>
        <div *ngIf="waiter && !hasError" class="waiter"></div>
    </ng-container>
</div>

<div class="dialog-buttons" *ngIf="step$ | async as step">
    <ng-container *ngIf="step === 3 || step === 4 || step === 5">
        <span translate>Image Opacity</span>
        <mat-slider min="0.1" max="1" step="0.01" [value]="(storage$ | async).imageOpacity" (input)="changeImageOpacity$.next($event.value)"></mat-slider>
    </ng-container>
    <ng-container *ngIf="curveAdding$ | async as chartCurve; else stepbuttons">
        <button type="button" mat-button color="primary" (click)="cancelCurve$.next()">
            <mat-icon>close</mat-icon>
            <span translate>Cancel Curve</span>
        </button>
        <button type="button" [disabled]="chartCurve.p?.length < 2" translate-title [title]="chartCurve.p?.length < 2 ? 'At least two point are necessary to finish the curve.' : undefined" mat-stroked-button color="primary" (click)="finishCurve$.next(chartCurve)">
            <mat-icon>check</mat-icon>
            <span translate>Finish Curve</span>
        </button>
    </ng-container>
    <ng-template #stepbuttons>
        <button type="button" mat-button [mat-dialog-close]="" color="primary" translate>Cancel</button>
        <ng-container *ngIf="storage$ | async as storage">
            <button type="button" *ngIf="step === 5" [disabled]="!storage.chartCurves?.length" mat-button color="primary" (click)="deleteCurve$.next()" translate>Delete Curve</button>
        </ng-container>
        <button type="button" *ngIf="step === 5" mat-stroked-button color="primary" (click)="addCurve$.next()" translate>Add Curve</button>
        <button type="button" mat-button [disabled]="step === 1" color="primary" [throttle-event]="previous$()" translate>Previous</button>
        <button type="button" *ngIf="step < 5" mat-stroked-button [disabled]="nextDisabled$ | async" color="primary" [throttle-event]="next$()" translate>Next</button>
        <button type="button" *ngIf="step === 5" [disabled]="finishValidationError$ | async" mat-stroked-button color="primary" [title]="finishValidationError$ | async" [throttle-event]="next$()" translate>Finish</button>
        <button type="button" *ngIf="step === 6" mat-stroked-button color="primary" translate [throttle-event]="save$()">Save and close</button>
    </ng-template>
</div>
