@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    $background: map-get($theme, background);
    $warn: map-get($theme, warn);
    $primary: map-get($theme, primary);

    app-sign-in {
        .auth {
            &.auth-google {
                background-color: #ffffff !important;
                color: #727272 !important;
            }

            &.auth-facebook {
                background-color: #3b5998 !important;
                color: #ffffff !important;
            }

            &.auth-twitter {
                background-color: #55acee !important;
                color: #ffffff !important;
            }

            &.auth-github {
                background-color: #333333 !important;
                color: #ffffff !important;
            }
        }

        .email-wrapper {
            &[color="warn"] {
                .mat-card-title {
                    color: mat.get-color-from-palette($warn);
                }
            }

            &[color="primary"] {
                .mat-card-title {
                    color: mat.get-color-from-palette($primary);
                }
            }
        }
    }
}
