<h1 class="title" translate>Sign in to get started</h1>

<button type="button" class="auth auth-google" mat-raised-button aria-label="Sign in with Google" [throttle-event]="signIn$('google')">
    <mat-icon svgIcon="google"></mat-icon><span translate>Sign in with Google</span>
</button>

<button type="button" class="auth auth-github" mat-raised-button aria-label="Sign in with GitHub" [throttle-event]="signIn$('github')">
    <mat-icon svgIcon="github"></mat-icon><span translate>Sign in with GitHub</span>
</button>

<form [formGroup]="loginForm" #ngForm="ngForm" (submit)="submit$.next()">
    <mat-card class="email-wrapper" [attr.color]="errorService.getError(loginForm.errors) ? 'warn' : 'primary'">
        <mat-card-header [ngSwitch]="loginFormType">
            <mat-card-title *ngSwitchCase="'login'" translate>Login with eMail</mat-card-title>
            <mat-card-title *ngSwitchCase="'signin'" translate>Sign in with eMail</mat-card-title>
            <mat-card-title *ngSwitchCase="'reset'" translate>Reset password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label translate>eMail</mat-label>
                <input type="text" matInput required formControlName="email">
                <mat-error *ngIf="errorService.getError(loginForm.controls.email.errors) as error">{{error}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="loginFormType !== 'reset'">
                <mat-label translate>Password</mat-label>
                <input type="password" matInput required formControlName="password">
                <mat-error *ngIf="errorService.getError(loginForm.controls.password.errors) as error">{{error}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf="loginFormType === 'signin'">
                <mat-label translate>Confirm Password</mat-label>
                <input type="password" matInput required formControlName="password2">
                <mat-error *ngIf="errorService.getError(loginForm.controls.password2.errors) as error">{{error}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="errorService.getError(loginForm.errors) as error">{{error}}</mat-error>
        </mat-card-content>
        <mat-card-actions [ngSwitch]="loginFormType">
            <button type="submit" *ngSwitchCase="'login'" class="auth auth-email" mat-stroked-button color="accent" translate>Login</button>
            <button type="submit" *ngSwitchCase="'signin'" class="auth auth-email" mat-stroked-button color="accent" translate>Register</button>
            <button type="submit" *ngSwitchCase="'reset'" class="auth auth-email" mat-stroked-button color="accent" translate>Reset</button>
        </mat-card-actions>
    </mat-card>
</form>

<ng-container [ngSwitch]="loginFormType">
    <a (click)="loginFormType='signin'" *ngSwitchCase="'login'" class="goto goto-email-signin">{{ 'No account?' | trans }} <span color="primary" translate>Create one here</span></a>
    <a (click)="loginFormType='reset'" *ngSwitchCase="'login'" class="goto goto-email-forget" translate color="primary">Forget password?</a>
    <a (click)="loginFormType='login'" *ngSwitchCase="'signin'" class="goto goto-email-login" translate color="primary">Lognin with eMail</a>
</ng-container>
