app-sign-in {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;

    .title {
        margin: 0;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }

    .auth {
        width: 13rem;
        text-align: left;
        font-weight: 600;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        .mat-icon {
            margin-right: 0.5rem;
        }
    }

    .email-wrapper {
        min-width: 20rem;
        padding: 1rem 2rem 2rem 2rem;
        box-sizing: border-box;
        margin: 2rem 0;

        .mat-card-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding-top: 1rem;
        }

        .mat-card-actions {
            display: flex;
            justify-content: center;

            .auth-email {
                padding: 0.2rem 1rem;
            }
        }
    }

    .goto {
        cursor: pointer;

        &.goto-email-signin {
            display: flex;
            gap: 0.5rem;
        }
    }
}
