@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    app-creator {
        $accent: map-get($theme, accent);
        $primary: map-get($theme, primary);
        $warn: map-get($theme, warn);
        $background: map-get($theme, background);

        ul.step-list {
            li.step {
                border-left: 1px solid mat.get-color-from-palette($background, 300);

                [error="true"],
                [error="true"] .mat-button-toggle-label-content {
                    color: mat.get-color-from-palette($warn, 500);
                }

                &:before {
                    color: mat.get-color-from-palette($background, 300);
                }

                .step-title {
                    border-bottom: 1px solid mat.get-color-from-palette($primary);

                    .unit[selected="true"] {
                        color: mat.get-color-from-palette($accent);
                    }
                }

                .mat-button-toggle {
                    &.mat-button-toggle-checked {
                        @include utils.colorize($accent, 500);
                    }
                }
            }
        }
    }
}
