@use '../scss/step-layout'as stepLayout;
@use '../scss/editor-steps'as editorSteps;

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .main-toolbar-container {
        width: 100%;
    }

    .scroll-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: auto;
        gap: 1rem;

        form {
            width: 100%;
            max-width: 1440px;

            .empty {
                opacity: 0.7;
            }

            @include editorSteps.render();

            .general {
                row-gap: 1rem;

                .row {
                    flex-wrap: wrap;

                    .mode,
                    .unit {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                    }

                    .unit {
                        min-width: 137px;
                    }

                    .mode {
                        min-width: 390px;
                    }
                }
            }
        }
    }
}
