<div class="main-toolbar-container">
    <app-main-toolbar></app-main-toolbar>
</div>
<ng-container *ngIf="tube$ | async as tube">
    <div class="scroll-wrapper" *ngIf="mainForm$ | async as mainForm">
        <form [formGroup]="mainForm">
            <ul class="step-list">
                <li class="step">
                    <span class="step-title">
                        <h2>{{ 'Usage Example for' | trans }} {{ tube.label }}</h2>
                        <div class="user-id" *ngIf="tube.userId && authService.isAdmin$ | async">{{ 'Tube of' | trans }} {{ tube.userId }}</div>
                    </span>
                    <div class="block general">
                        <div class="row">
                            <mat-form-field appearance="outline" class="cell cell-40">
                                <mat-label translate>Name</mat-label>
                                <input type="text" matInput required formControlName="name">
                                <mat-error *ngIf="errorService.getError(mainForm.controls.name.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <ng-container *ngIf="unitService.unitCount$ | async as unitCount">
                                <div class="cell cell-20 unit" *ngIf="unitCount > 1" [attr.error]="mainForm.controls.unit.invalid || null">
                                    <mat-label translate>For Unit</mat-label>
                                    <mat-button-toggle-group formControlName="unit">
                                        <mat-button-toggle *ngFor="let unitIndex of [].constructor(unitCount); let index=index" [value]="index">{{index + 1}}</mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </ng-container>
                            <div class="cell cell-40 mode" [attr.error]="mainForm.controls.mode.invalid || null">
                                <mat-label translate>Mode</mat-label>
                                <mat-button-toggle-group formControlName="mode">
                                    <mat-button-toggle *ngFor="let mode of modes" [value]="mode">{{mode | uppercase}}</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline" class="cell">
                                <mat-label translate>Notes</mat-label>
                                <textarea matInput formControlName="note" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"></textarea>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.note.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <h2 class="step-title" translate>Electrical Characteristics</h2>
                    <div class="block">
                        <div class="row">
                            <mat-form-field appearance="outline" class="cell cell-33">
                                <mat-label translate>Anode Voltage</mat-label>
                                <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="va" #va="matInput">
                                <span class="unit">V</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="va"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.va.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="cell cell-33">
                                <mat-label translate>Anode Current at zero</mat-label>
                                <input type="number" autocomplete="off" min="0" step="1" matInput formControlName="iazero" #iazero="matInput">
                                <span class="unit">mA</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="iazero"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.iazero.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="cell cell-33">
                                <mat-label translate>Input Voltage peak-peak</mat-label>
                                <input type="number" autocomplete="off" min="0" step="0.1" matInput formControlName="vinpp" #vinpp="matInput">
                                <span class="unit">V</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="vinpp"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.vinpp.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field appearance="outline" class="cell cell-33">
                                <mat-label translate>Load</mat-label>
                                <input type="number" autocomplete="off" min="0" step="50" matInput formControlName="load" #load="matInput">
                                <span class="unit">ohms</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="load"></numeric-stepper>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.load.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </li>
                <li class="step">
                    <span class="step-title">
                        <h2 translate>Trace</h2>
                        <span class="actions">
                            <button type="button" class="action" hover="accent" mat-icon-button translate-title title="Select the graph" (click)="selectGraph$.next()">
                                <mat-icon>auto_graph</mat-icon>
                            </button>
                        </span>
                    </span>
                    <div class="block usages">
                        <ng-container *rxIf="graphLoader$;let tubeGraph;loading:loading;error:error">
                            <app-transfer-graph class="graph" *ngIf="tubeGraph && formUsage$ | async as usage" [graph]="tubeGraph" [usage]="usage" [paMax]="unitService.paMax$ | async" [editable]="true" (zoomChangedX)="zoomChanged$.next($event)" (zoomChangedY)="zoomChanged$.next($event)" (showSerie)="visibilityChanged$.next($event)" (hideSerie)="visibilityChanged$.next($event)" (dragDrop)="usageDragDrop$.next($event)" (dragEnd)="usageDragEnd$.next($event)"></app-transfer-graph>
                        </ng-container>
                        <ng-template #loading>
                            <div class="waiter"></div>
                        </ng-template>
                        <ng-template #error let-err="$error">
                            <div class="error" color="warn">{{ err.message || err }}</div>
                        </ng-template>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</ng-container>
