app-pdf-viewer-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    * {
        box-sizing: border-box;
    }

    .close {
        position: absolute !important;
        right: 3px;
        top: -2px;
    }

    .viewer {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
