<button *ngIf="showCloseButton" type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
    <mat-icon>clear</mat-icon>
</button>
<app-pdf-viewer class="viewer" [filename]="data.filename" (documentLoaded)="showCloseButton=false" (closeClicked)="dialogRef.close()" [isViewer]="true"></app-pdf-viewer>
