@use '../../scss/step-layout'as stepLayout;

:host {
    width: 100%;
    display: flex;

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: baseline;

        .description {
            flex: 2 1 50%;
        }

        .filename {
            flex: 1 2 50%;
            display: flex;
            justify-content: center;
        }

        .icon {
            zoom: 1.5;
            transform: translate(0, 0.4rem);
        }

        .icon,
        .actions {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
        }
    }
}
