<ng-container *ngIf="form$ | async as form">
    <form [formGroup]="form">
        <ng-container *ngIf="fileService.getDocumentIcon(form.value.filename) as documentIcon; else graphicon">
            <mat-icon class="icon">{{ documentIcon }}</mat-icon>
        </ng-container>
        <ng-template #graphicon>
            <mat-icon class="icon" graph-icon></mat-icon>
        </ng-template>
        <mat-form-field appearance="outline" class="description">
            <mat-label translate>Description</mat-label>
            <input type="text" matInput required formControlName="label">
            <mat-error *ngIf="errorService.getError(form.controls.label.errors) as error">{{error}}</mat-error>
        </mat-form-field>
        <span class="filename">{{ form.value.filename }}</span>
        <span class="actions">
            <ng-container *ngIf="fileService.getDocumentIcon(form.value.filename) as documentIcon; else graphButton">
                <button type="button" class="action" hover="accent" mat-icon-button (click)="openDocument.emit({filename: form.value.filename, label: form.value.label, originalEvent: $event})" translate-title title="View the document. Ctrl+click to open in a new tab.">
                    <mat-icon>get_app</mat-icon>
                </button>
            </ng-container>
            <ng-template #graphButton>
                <button type="button" class="action" hover="accent" mat-icon-button (click)="openDocument.emit({filename: form.value.filename, label: form.value.label, originalEvent: $event})" translate-title title="View the document.">
                    <mat-icon>get_app</mat-icon>
                </button>
            </ng-template>
            <button type="button" class="action" hover="accent" mat-icon-button (click)="deleteDocument.emit(form.value)" translate-title title="Delete the document">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </form>
</ng-container>
