$background-dark-palette: (50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #9a9a9a,
    300 : #717171,
    400 : #525252,
    500 : #343434,
    600 : #2f2f2f,
    700 : #272727,
    800 : #212121,
    900 : #151515,
    A100 : #636e6e,
    A200 : #404040,
    A400 : #333333,
    A700 : #000000,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$background-light-palette: (900 : #e7e7e7,
    800 : #c2c2c2,
    700 : #9a9a9a,
    600 : #717171,
    500 : #525252,
    400 : #343434,
    300 : #2f2f2f,
    200 : #272727,
    100 : #212121,
    50 : #151515,
    A700 : #636e6e,
    A400 : #404040,
    A200 : #333333,
    A100 : #000000,
    contrast: (900 : #000000,
        800 : #000000,
        700 : #000000,
        600 : #ffffff,
        500 : #ffffff,
        400 : #ffffff,
        300 : #ffffff,
        200 : #ffffff,
        100 : #ffffff,
        50 : #ffffff,
        A700 : #000000,
        A400 : #ffffff,
        A200 : #ffffff,
        A100 : #ffffff,
    ));

$blue-dark-palette: (50 : #e4ecf3,
    100 : #bccfe1,
    200 : #8fafcd,
    300 : #628fb8,
    400 : #4177a9,
    500 : #1f5f9a,
    600 : #1b5792,
    700 : #174d88,
    800 : #12437e,
    900 : #0a326c,
    A100 : #9ec1ff,
    A200 : #6ba0ff,
    A400 : #387fff,
    A700 : #1f6eff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$blue-light-palette: (50 : #e6f3fe,
    100 : #c1e0fc,
    200 : #98cbfa,
    300 : #6eb6f7,
    400 : #4fa7f6,
    500 : #3097f4,
    600 : #2b8ff3,
    700 : #2484f1,
    800 : #1e7aef,
    900 : #1369ec,
    A100 : #ffffff,
    A200 : #e7f0ff,
    A400 : #b4cfff,
    A700 : #9bbfff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$green-dark-palette: (50 : #ebf0e6,
    100 : #ced9c1,
    200 : #aec098,
    300 : #8da76e,
    400 : #74944f,
    500 : #5c8130,
    600 : #54792b,
    700 : #4a6e24,
    800 : #41641e,
    900 : #305113,
    A100 : #bdff8b,
    A200 : #a0ff58,
    A400 : #83ff25,
    A700 : #74ff0c,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$green-light-palette: (50 : #f1f8e9,
    100 : #dcedc8,
    200 : #c5e1a5,
    300 : #aed581,
    400 : #9ccc65,
    500 : #8bc34a,
    600 : #7cb342,
    700 : #689f38,
    800 : #558b2f,
    900 : #33691e,
    A100 : #ccff90,
    A200 : #b2ff59,
    A400 : #76ff03,
    A700 : #64dd17,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$pink-light-palette: (50 : #fce4ec,
    100 : #f8bbd0,
    200 : #f48fb1,
    300 : #f06292,
    400 : #ec407a,
    500 : #e91e63,
    600 : #d81b60,
    700 : #c2185b,
    800 : #ad1457,
    900 : #880e4f,
    A100 : #ff80ab,
    A200 : #ff4081,
    A400 : #f50057,
    A700 : #c51162,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$pink-dark-palette: (50 : #f5e4ea,
    100 : #e5bcca,
    200 : #d48fa6,
    300 : #c36282,
    400 : #b64068,
    500 : #a91e4d,
    600 : #a21a46,
    700 : #98163d,
    800 : #8f1234,
    900 : #7e0a25,
    A100 : #ffaebd,
    A200 : #ff7b93,
    A400 : #ff486a,
    A700 : #ff2f55,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    ));

$orange-light-palette: (50 : #fff3e0,
    100 : #ffe0b2,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #fb8c00,
    700 : #f57c00,
    800 : #ef6c00,
    900 : #e65100,
    A100 : #ffd180,
    A200 : #ffab40,
    A400 : #ff9100,
    A700 : #ff6d00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$orange-dark-palette: (50 : #f7eee1,
    100 : #ebd4b3,
    200 : #ddb881,
    300 : #cf9c4f,
    400 : #c58629,
    500 : #bb7103,
    600 : #b56903,
    700 : #ac5e02,
    800 : #a45402,
    900 : #964201,
    A100 : #ffd8c1,
    A200 : #ffb78e,
    A400 : #ff975b,
    A700 : #ff8741,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$bluegray-dark-palette: (50 : #e2e4e7,
    100 : #b6bcc2,
    200 : #85909a,
    300 : #546371,
    400 : #2f4152,
    500 : #0a2034,
    600 : #091c2f,
    700 : #071827,
    800 : #051321,
    900 : #030b15,
    A100 : #5599ff,
    A200 : #227aff,
    A400 : #005fee,
    A700 : #0055d4,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    ));

$bluegray-light-palette: (50 : #eaeef1,
    100 : #cbd5dd,
    200 : #a9b9c7,
    300 : #879cb0,
    400 : #6d879f,
    500 : #53728e,
    600 : #4c6a86,
    700 : #425f7b,
    800 : #395571,
    900 : #29425f,
    A100 : #a7ceff,
    A200 : #74b1ff,
    A400 : #4195ff,
    A700 : #2787ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    ));

$cyan-light-palette: (50 : #e0f7fa,
    100 : #b2ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00acc1,
    700 : #0097a7,
    800 : #00838f,
    900 : #006064,
    A100 : #84ffff,
    A200 : #18ffff,
    A400 : #00e5ff,
    A700 : #00b8d4,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$teal-dark-palette: (50 : #e0f2f1,
    100 : #b2dfdb,
    200 : #80cbc4,
    300 : #4db6ac,
    400 : #26a69a,
    500 : #009688,
    600 : #00897b,
    700 : #00796b,
    800 : #00695c,
    900 : #004d40,
    A100 : #a7ffeb,
    A200 : #64ffda,
    A400 : #1de9b6,
    A700 : #00bfa5,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));
