app-attachments {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;

    * {
        box-sizing: border-box;
    }

    .attachments {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        padding: 0 0.5rem 1rem 0.5rem;

        .mat-radio-label-content {
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 2.8rem;
            width: 100%;

            >.icon {
                flex: 0 0 auto;
                opacity: 0.7;
            }

            >.action {
                flex: 0 0 auto;
            }

            >.name {
                flex: 1 1 auto;
                padding: 0.5rem;
            }
        }

        &:not([graph-selector="true"]) {
            .mat-radio-container {
                display: none;
            }
        }
    }
}
