    <mat-radio-group *ngIf="documents$ | async as documents" class="attachments" [ngModel]="selectedId" (ngModelChange)="selectedIdChange.next($event)" [attr.graph-selector]="(usages$ | async) === undefined || null">
        <ng-container *ngIf="usages$ | async as usages">
            <mat-radio-button *ngFor="let usage of usages" [value]="usage.id">
                <mat-icon class="icon">build</mat-icon>
                <span class="name">{{ usage.label }}</span>
                <button type="button" class="action" hover="accent" mat-icon-button (click)="openUsage$.next({usageId: usage.id, originalEvent: $event})" translate-title title="Display the usage example. Ctrl+click to open in a new tab.">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-radio-button>
        </ng-container>
        <mat-radio-button *ngFor="let doc of documents" [value]="doc.id">
            <ng-container *ngIf="fileService.getDocumentIcon(doc.filename) as documentIcon; else graphicon">
                <mat-icon class="icon">{{ documentIcon }}</mat-icon>
                <span class="name">{{ doc.label }}</span>
                <button type="button" class="action" hover="accent" mat-icon-button (click)="downloadDocument$.next({filename: doc.filename, userId: undefined, label: doc.label, originalEvent: $event})" translate-title title="View the document. Ctrl+click to open in a new tab.">
                    <mat-icon>get_app</mat-icon>
                </button>
            </ng-container>
            <ng-template #graphicon>
                <mat-icon class="icon" graph-icon></mat-icon>
                <span class="name">{{ doc.label }}</span>
                <button type="button" class="action" hover="accent" mat-icon-button (click)="downloadDocument$.next({filename: doc.filename, userId: undefined, label: doc.label, originalEvent: $event})" translate-title title="View the document.">
                    <mat-icon>get_app</mat-icon>
                </button>
            </ng-template>
        </mat-radio-button>
    </mat-radio-group>
