@use '@angular/material'as mat;

@mixin colorize($palette, $contrast) {
    background-color: mat.get-color-from-palette($palette, $contrast);
    color: mat.get-color-from-palette($palette, $contrast + '-contrast');
}
