app-attachments-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    h3 {
        text-align: center;
        padding: 0 1rem;
    }

    .content-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 auto;
        width: 100%;
        z-index: 1;

        h3 {
            flex: 1 1 auto;
        }
    }
}

.cdk-overlay-container {
    .mat-dialog-container {
        padding: 0;
    }
}
