<mat-toolbar class="dialog-toolbar" color="primary">
    <mat-icon class="icon">attachment</mat-icon>
    <span class="dialog-title">{{ 'Documents -' | trans }} {{ data.tube.label }}</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<div *ngIf="data.tube" class="content-title">
    <h3 *ngIf="!data.documentFilter">{{ 'List of the documents attached to the' | trans }} {{ data.tube.label }}</h3>
    <h3 *ngIf="data.documentFilter">{{ 'Select the documents you want to use for this operation' | trans }}</h3>
</div>
<app-attachments [documentFilter]="data.documentFilter" [(selectedId)]="data.selectedId" [tube]="data.tube"></app-attachments>
<div class="dialog-buttons" *ngIf="data.documentFilter">
    <button type="button" mat-button [mat-dialog-close]="" color="primary" translate>Cancel</button>
    <button type="button" [disabled]="!data.selectedId" mat-stroked-button [mat-dialog-close]="data.selectedId" color="primary" translate>Ok</button>
</div>
