@use '@angular/material'as mat;
@use './unit/unit-theme'as unit;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    app-viewer {
        $primary: map-get($theme, primary);
        $accent: map-get($theme, accent);

        .merged {
            @include utils.colorize(mat.$green-palette, 500);
        }

        ul.step-list {
            li.step {
                .step-title {
                    border-bottom: 1px solid mat.get-color-from-palette($primary);
                }

                .field {
                    color: mat.get-color-from-palette($accent);
                }

                @include unit.theme($theme);
            }
        }
    }
}
