<div class="main-toolbar-container">
    <app-main-toolbar [comparatorEnabled]="enableComparator$ | async"></app-main-toolbar>
</div>
<ng-container class="scroll-wrapper" *ngIf="tube$ | async as tube">
    <ng-container *ngIf="(compareService.compareView$ | async) !== 'comparator'; else comparator">
        <div class="title">
            <div class="label" color="primary">{{tube.label}}</div>
            <div *ngIf="type$ | async as type" class="type">{{ type.label }}</div>
            <ng-container *ngIf="tube.userId">
                <div class="user-id" *ngIf="authService.isAdmin$ | async">({{ 'Tube of' | trans }} {{ tube.userId }} )</div>
                <div *ngIf="tube.merged && !tube.seen" class="merged" translate>merged</div>
                <mat-checkbox *ngIf="authService.isAdmin$ | async" [checked]="tube.seen" (change)="markAsSeen$.next($event.checked)"><span translate>seen</span></mat-checkbox>
            </ng-container>
            <button type="button" *ngIf="authService.authenticatedUser$ | async" hover="accent" class="action" mat-icon-button (click)="editTube$.next({ duplicate: false, originalEvent: $event })" translate-title title="Edit this tube">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <ul class="step-list">
            <li class="step">
                <h2 class="step-title" translate>Caracteristics</h2>
                <div class="block">
                    <div class="row cell" *ngIf="tube.vh1">
                        <div class="label" translate>Filament Voltage</div>
                        <div class="field" translate>vh1</div>
                        <div class="value">{{ tube.vh1 }} V</div>
                    </div>
                    <div class="row cell" *ngIf="tube.ih1">
                        <div class="label" translate>Filament Current</div>
                        <div class="field" translate>ih1</div>
                        <div class="value">{{ tube.ih1 }} A</div>
                    </div>
                    <ng-container *ngIf="tube.dh">
                        <div class="row cell" *ngIf="tube.vh2">
                            <div class="label" translate>Filament Voltage</div>
                            <div class="field" translate>vh2</div>
                            <div class="value">{{ tube.vh2 }} V</div>
                        </div>
                        <div class="row cell" *ngIf="tube.ih2">
                            <div class="label" translate>Filament Current</div>
                            <div class="field" translate>ih2</div>
                            <div class="value">{{ tube.ih2 }} A</div>
                        </div>
                    </ng-container>
                    <div class="row note" *ngIf="tube.notes">
                        <div translate>Notes:</div>
                        <div matInput>{{ tube.notes }}</div>
                    </div>
                </div>
                <div class="block">
                    <div class="row stretch">
                        <div class="block">
                            <div class="row cell row-center">
                                <div translate>Base</div>
                                <div *ngIf="base$ | async as base">{{ base.label }}</div>
                            </div>
                            <div class="cell image-cell">
                                <ng-container *ngIf="baseImageFileName$ | async as baseImageFileName; else noinformation">
                                    <div *ngIf="!hasBaseImageError" class="image">
                                        <img #img [src]="baseImageFileName" (error)="hasBaseImageError=true">
                                    </div>
                                    <div *ngIf="hasBaseImageError" class="error" color="warn" translate>This file is not available.</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="block">
                            <div class="row cell row-center">
                                <div translate>Pinout</div>
                                <div *ngIf="pinout$| async as pinout">{{ pinout.label }}</div>
                            </div>
                            <div class="cell image-cell">
                                <ng-container *ngIf="pinoutImageFileName$ | async as pinoutImageFileName; else noinformation">
                                    <div *ngIf="!hasPinoutImageError" class="image">
                                        <img #img [src]="pinoutImageFileName" (error)="hasPinoutImageError=true">
                                    </div>
                                    <div *ngIf="hasPinoutImageError" class="error" color="warn" translate>This file is not available.</div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="step">
                <h2 class="step-title">{{ 'Maximum Ratings' | trans }}<span class="allunits" *ngIf="unitService.symetricalUnits$ | async">({{'All Units' | trans}})</span></h2>
                <ng-container *ngIf="unitService.unitCount$ | async as unitCount; else noinformation">
                    <ng-container *ngFor="let unitIndex of [].constructor(unitCount); let index=index">
                        <app-unit class="cell cell-33" [attr.multi-units]="unitCount > 1" [unit]="tube.units[index]" [unitIndex]="unitCount > 1 ? index : undefined"></app-unit>
                    </ng-container>
                </ng-container>
            </li>
            <li class="step">
                <h2 class="step-title" translate>Usage Examples</h2>
                <ng-container *ngIf="tube.usages?.length > 0; else noinformation">
                    <mat-accordion class="block usages">
                        <mat-expansion-panel #expansion *ngFor="let usage of tube.usages; let index = index" [expanded]="index === (openedUsageIndex$ | async)" (closed)="usageClosed$.next(undefined)" (opened)="usageOpened$.next(index)" togglePosition="before">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ usage.label }}<span *ngIf="unitService.hasMultiUnits$ | async" class="unit">({{'unit' | trans}} {{ usage.unit + 1 }})</span>
                                </mat-panel-title>
                                <mat-panel-description class="actions">
                                    <button type="button" *ngIf="authService.authenticatedUser$ | async" hover="accent" class="action" mat-icon-button (click)="editUsage$.next({usageId: usage.id, originalEvent: $event})" translate-title title="Edit the usage example">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <app-usage-viewer *ngIf="expansion.expanded" [tube]="tube" [usage]="usage" [document]="getDocument(tube, usage.traces)"></app-usage-viewer>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>
            </li>
            <li class="step">
                <h2 class="step-title" translate>Documents</h2>
                <div class="block" *ngIf="tube.documents?.length > 0; else nodocuments">
                    <div class="document row" *ngFor="let document of tube.documents">
                        <ng-container *ngIf="fileService.getDocumentIcon(document.filename) as documentIcon; else graphicon">
                            <mat-icon class="icon">{{ documentIcon }}</mat-icon>
                            <span class="name">{{ document.label }}</span>
                            <span class="filename">{{ document.filename }}</span>
                            <button type="button" class="action" hover="accent" mat-icon-button (click)="downloadDocument$.next({filename: document.filename, userId: tube.userId, label: document.label, originalEvent: $event})" translate-title title="View the document. Ctrl+click to open in a new tab.">
                                <mat-icon>get_app</mat-icon>
                            </button>
                        </ng-container>
                        <ng-template #graphicon>
                            <mat-icon class="icon" graph-icon></mat-icon>
                            <span class="name">{{ document.label }}</span>
                            <span class="filename">{{ document.filename }}</span>
                            <button type="button" class="action" hover="accent" mat-icon-button (click)="downloadDocument$.next({filename: document.filename, userId: tube.userId, label: document.label, originalEvent: $event})" translate-title title="View the document.">
                                <mat-icon>get_app</mat-icon>
                            </button>
                        </ng-template>
                    </div>
                </div>
                <ng-template #nodocuments>
                    <span class="empty" translate>No documents</span>
                </ng-template>
            </li>
        </ul>
        <div *ngIf="tube.date" class="last-update">{{ 'Last update' | trans }}: {{getDisplayDate(tube.date)}}</div>
        <ng-template #noinformation>
            <div class="no-information" translate>No information</div>
        </ng-template>
    </ng-container>
    <ng-template #comparator>
        <monaco-editor [value]="globalTubeText$ | async" [valueToCompare]="userTubeText$ | async" (valueChange)="modifiedGlobalTubeText$.next($event)" folding="true" language="json" isDiffEditor="true" automaticLayout="true" [theme]="comparatorTheme$ | async"></monaco-editor>
    </ng-template>
</ng-container>
