@use '../scss/step-layout'as stepLayout;
@use '../scss/viewer-layout'as viewerLayout;

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;
    gap: 1rem;

    * {
        box-sizing: border-box;
    }

    .main-toolbar-container {
        width: 100%;
    }

    .title {
        padding-top: 2rem;
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        max-width: 1440px;

        .label {
            font-size: 200%;
        }

        .type {
            font-size: 120%;
        }

        .merged {
            min-width: 4rem;
            padding: 0.25rem;
            text-align: center;
        }
    }

    ul.step-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 1440px;
        padding: 0;

        li.step {
            padding: 0.7rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;

            @include stepLayout.layout();
            @include viewerLayout.layout();

            app-unit {
                min-width: 480px;
                max-width: 50%;
                flex: 1 1 33.33%;

                &[multi-units="true"] {
                    padding: 1rem 3rem;
                }
            }

            .step-title {
                padding: 0 0 0.8rem 0;
                margin: 0 0 1.5rem 0;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                .allunits {
                    padding-left: 1rem;
                    font-size: 75%;
                }
            }

            .image-cell {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;

                .no-information {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .image,
                .error {
                    flex: 1 1 auto;
                    padding: 1rem;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    >img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .note {
                flex-direction: column !important;
                gap: 0.5rem;
            }

            .usages {
                width: 100%;
                gap: 1rem;

                .mat-expansion-panel-header {
                    font-size: 110% !important;

                    .mat-expansion-panel-header-title {
                        .unit {
                            font-size: 90% !important;
                            padding: 0.2rem 1rem 0 0.5rem;
                        }
                    }

                    .mat-expansion-panel-header-description {
                        justify-content: flex-end;
                    }
                }
            }

            .document {
                width: 100%;
                display: flex;
                flex-direction: row;
                column-gap: 1rem;
                align-items: baseline;
                padding: 0 !important;

                .name {
                    flex: 2 1 50%;
                }

                .filename {
                    flex: 1 2 50%;
                }

                .icon {
                    zoom: 1.5;
                    transform: translate(0, 0.4rem);
                }

                .icon,
                .actions {
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }

    .last-update {
        padding: 0 3.6rem 0.6rem 3.6rem;
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
