@use '@angular/material'as mat;

@mixin theme($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);

    highcharts-chart {
        .highcharts-title {
            fill: mat.get-color-from-palette($accent) !important;
            color: mat.get-color-from-palette($accent) !important;
        }

        .highcharts-grid-line,
        .highcharts-axis-line {
            stroke: mat.get-color-from-palette($background, 200) !important;
            opacity: 0.3;
        }

        .highcharts-subtitle,
        .highcharts-axis-title,
        .highcharts-axis-labels,
        .highcharts-legend-item {
            color: mat.get-color-from-palette($background, 200) !important;

            &.highcharts-legend-item-hidden {
                opacity: 0.5;
            }

            >text {
                fill: mat.get-color-from-palette($background, 200) !important;
                color: mat.get-color-from-palette($background, 200) !important;
            }

            &:hover {
                >text {
                    fill: mat.get-color-from-palette($primary) !important;
                    color: mat.get-color-from-palette($primary) !important;
                }
            }
        }
    }
}
