@use '@angular/material'as mat;

@mixin theme($theme) {
    $primary: mat.get-color-from-palette(map-get($theme, primary));

    .waiter {
        border-bottom: 1.1em solid rgba($primary, 0.2);
        border-left: 1.1em solid $primary;
        border-right: 1.1em solid rgba($primary, 0.2);
        border-top: 1.1em solid rgba($primary, 0.2);
    }
}

@mixin loader() {

    .waiter {
        font-size: 0.7rem;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: spin 1.1s infinite linear;
        animation: spin 1.1s infinite linear;
    }

    .waiter,
    .waiter:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}
