@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    .mat-select-panel-wrap {
        .mat-select-panel {
            $background: map-get($theme, background);
            $primary: map-get($theme, primary);

            @include utils.colorize($background, 800);
            max-height: 70vh;

            .mat-option {

                &:hover,
                &.mat-active {
                    @include utils.colorize($background, 700);
                }

                &.mat-selected {
                    @include utils.colorize($primary, 400);
                }

                &:hover {
                    &.mat-selected {
                        @include utils.colorize($primary, 600);
                    }
                }
            }
        }
    }
}
