@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    $primary: map-get($theme, primary);

    .mat-menu-content {
        .mat-menu-item {
            &:hover {
                @include utils.colorize($primary, 500);

                &[selected="true"] {
                    @include utils.colorize($primary, 800);
                }

                .mat-icon {
                    color: mat.get-color-from-palette($primary, '500-contrast');
                }
            }

            &:not(:hover) {
                &[selected="true"] {
                    color: mat.get-color-from-palette($primary);
                }
            }
        }
    }
}
