@use '@angular/material'as mat;
@use '../theme-utils'as utils;

@mixin theme-content($palette, $paletteContrast, $background, $backgroundContrast) {
    .status-toolbar {
        @include utils.colorize($palette, $paletteContrast);
    }

    .status-container {
        @include utils.colorize($background, $backgroundContrast);

        .status-info .mat-icon {
            color: mat.get-color-from-palette($palette, $paletteContrast);
        }
    }
}

@mixin theme($theme) {
    @include theme-content(map-get($theme, primary), 900, map-get($theme, background), 800);

    [type="accent"] {
        @include theme-content(map-get($theme, accent), 900, map-get($theme, background), 800);
    }

    [type="warning"] {
        @include theme-content(map-get($theme, warning), 900, map-get($theme, background), 800);
    }

    [type="error"] {
        $warn: map-get($theme, warn);
        @include theme-content($warn, 900, $warn, 200);
    }
}
