<mat-toolbar class="status-toolbar">
    <mat-icon class="status-icon">{{icon}}</mat-icon>
    <span class="status-title">{{title}}</span>
    <button type="status-button" class="close" mat-icon-button translate-title title="Close" (click)="snackBar.dismiss()">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="status-container">
    <div [innerHTML]="message"></div>
    <button *ngIf="info" class="status-info" mat-icon-button translate-title title="Info" [throttle-event]="showInfo$()">
        <mat-icon>info</mat-icon>
    </button>
</div>
