app-status {
    display: flex;
    flex-direction: column;

    .status-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-height: 2.5rem;
        gap: 1rem;
        padding: 0.5rem;
        flex: 0 0 40px;

        .status-title {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .status-container {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

.mat-snack-bar-container.status-container {
    padding: 0;
    margin: 0;
}
