@use 'src/app/scss/components/loader'as loader-mixin;

@include loader-mixin.loader();

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .graph,
    .error {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
