<mat-toolbar class="dialog-toolbar" color="primary">
    <mat-icon class="icon" graph-icon></mat-icon>
    <div class="dialog-title" translate>Anode Transfer Chart</div>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<ng-container *rxIf="graphLoader$;let tubeGraph;loading:loading;error:error">
    <app-transfer-graph class="graph" *ngIf="tubeGraph" [graph]="tubeGraph" [paMax]="data.paMax"></app-transfer-graph>
</ng-container>
<ng-template #loading>
    <div class="waiter"></div>
</ng-template>
<ng-template #error let-err="$error">
    <div class="error" color="warn">{{ err.message || err }}</div>
</ng-template>
