@use './step-layout'as stepLayout;

@mixin render() {
    ul.step-list {
        counter-reset: section;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        li.step {
            page-break-inside: avoid;
            padding: 0.7rem;
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 1rem;

            @include stepLayout.layout();

            &:before {
                position: absolute;
                content: counter(section);
                counter-increment: section;
                font-size: 2rem;
                left: 0;
                top: 0.3125rem;
                margin-left: -1.5rem;
            }

            .step-title {
                box-sizing: border-box;
                padding: 0 0 0.8rem 0;
                margin: 0 0 1.5rem 0;
                width: 100%;

                display: flex;
                align-items: center;
                gap: 1rem;

                >h2 {
                    flex: 1 1 auto;
                    margin: 0;
                    padding: 0;
                }

                >.actions {
                    margin-top: -1rem;

                    .mat-icon-button {
                        height: 30px;
                    }
                }
            }
        }
    }
}
