@mixin layout() {
    .block {
        flex: 1 1 calc(50% - 0.5rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .row {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            column-gap: 1rem;

            &.stretch {
                align-items: stretch;
            }

            >.cell {
                flex: 0 0 100%;
                overflow: hidden;
                box-sizing: border-box;

                &.cell-33 {
                    flex: 0 0 calc(33.33% - 0.67rem);
                }

                &.cell-50 {
                    flex: 0 0 calc(50% - 0.5rem);
                }

                &.cell-66 {
                    flex: 0 0 calc(66.66% - 0.67rem);
                }

                &.cell-40 {
                    flex: 0 0 calc(40% - 0.68rem);
                }

                &.cell-20 {
                    flex: 0 0 calc(20% - 0.68rem);
                }
            }
        }
    }
}
