@mixin layout() {
    .block {
        padding: 1rem 3rem;

        >.row {
            padding: 0.5rem 0;
        }

        .row.cell {

            .label {
                flex: 3 1 100%;
            }

            .value {
                display: flex;
                justify-content: flex-end;
                flex: 1 2 100%;
            }

            .field {
                display: flex;
                justify-content: center;
                flex: 1 2 100%;
            }
        }
    }

    .row-center {
        justify-content: center;
    }
}
