@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    $primary: map-get($theme, primary);

    viewport {

        #up,
        #down {
            &:hover {
                @include utils.colorize($primary, 500);
            }
        }
    }
}
