@use '@angular/material'as mat;

@mixin theme($theme) {
    app-usage-viewer {
        $accent: map-get($theme, accent);

        .field {
            color: mat.get-color-from-palette($accent);
        }
    }
}
