<ng-container *ngIf="usage$ | async as usage">
    <div class="block">
        <div class="row cell" *ngIf="usage.mode !== undefined">
            <div class="label">{{'Connection Mode' | trans }}</div>
            <div class="value">{{ usage.mode | uppercase }}</div>
        </div>
        <div class="row cell" *ngIf="usage.va !== undefined">
            <div class="label">{{'Anode Voltage' | trans }}</div>
            <div class="field">{{'va' | trans }}</div>
            <div class="value">{{ round(usage.va, 2) }} V</div>
        </div>
        <div class="row cell" *ngIf="usage.iazero !== undefined">
            <div class="label">{{'Anode Current at zero' | trans}}</div>
            <div class="field">{{'iazero' | trans }}</div>
            <div class="value">{{ round(usage.iazero, 2) }} mA</div>
        </div>
    </div>
    <div class="block">
        <div class="row cell" *ngIf="usage.vinpp !== undefined">
            <div class="label">{{'Input Voltage peak-peak' | trans }}</div>
            <div class="field">{{'vinpp' | trans }}</div>
            <div class="value">{{ round(usage.vinpp, 2) }} V</div>
        </div>
        <div class="row cell" *ngIf="usage.load !== undefined">
            <div class="label">{{'Anode Load Resistance' | trans }}</div>
            <div class="field">{{'load' | trans }}</div>
            <div class="value">{{ usage.load }} ohms</div>
        </div>
    </div>
    <div class="row cell note" *ngIf="usage.note !== undefined">
        {{ usage.note }}
    </div>
    <ng-container *rxIf="graphLoader$;let tubeGraph;loading:loading;error:error">
        <app-transfer-graph class="graph" *ngIf="tubeGraph" [graph]="tubeGraph" [usage]="usage" [paMax]="unitService.paMax$ | async"></app-transfer-graph>
    </ng-container>
    <ng-template #loading>
        <div class="waiter"></div>
    </ng-template>
    <ng-template #error let-err="$error">
        <div class="error" color="warn">{{ err.message || err }}</div>
    </ng-template>
</ng-container>
