@use '../../scss/step-layout'as stepLayout;
@use '../../scss/viewer-layout'as viewerLayout;

:host {
    @include stepLayout.layout();
    @include viewerLayout.layout();

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0 0 0;

    .block {
        padding: 0;

        .row {
            padding: 0.5rem 3rem;

            .value {
                white-space: nowrap;
            }
        }
    }

    app-transfer-graph {
        width: 100%;
        display: block;
    }
}
