:host {
    padding-top: 1rem;

    .dialog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem 1rem 0.5rem 1rem;
    }
}
