<mat-toolbar class="dialog-toolbar" color="primary">
    <span class="dialog-title" translate>Upload document</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="dialog-container">
    <app-upload [uploadData]="data" (uploadDone)="dialogRef.close($event)"></app-upload>
</div>

<div class="dialog-buttons">
    <button type="button" mat-button mat-dialog-close color="primary" translate>Cancel</button>
</div>
