@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);

    tube-card {
        border-bottom: 1px solid mat.get-color-from-palette($background, 500);

        .values-wrapper {
            .unit {
                &[selected="true"] {
                    @include utils.colorize($accent, 500);
                }
            }
        }

        .seen {
            @include utils.colorize($accent, 500);
        }

        .merged {
            @include utils.colorize(mat.$green-palette, 500);
        }
    }
}
