:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    gap: 1rem;
    box-sizing: border-box;
    overflow: hidden;

    * {
        box-sizing: border-box;
    }

    .tube-icon {
        flex: 0 0 5rem;
        float: left;
        height: 8rem;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        -webkit-print-color-adjust: exact;
    }

    .tube-infos {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        flex-flow: row wrap;
        gap: 1rem;

        .name-wrapper {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            flex: 0 0 100%;
            padding-bottom: 0.5rem;
            gap: 1rem;

            .name {
                font-size: 180%;
                flex: 0 0 auto;
                min-width: 5rem;
            }

            .last-update {
                flex: 1 1 auto;
                display: flex;
                justify-content: center;
            }

            .extend {
                flex: 1 1 0;
            }

            .seen,
            .merged {
                min-width: 4rem;
                padding: 0.25rem;
                text-align: center;
            }
        }

        .values-wrapper {
            flex: 1 0 40%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            .line {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                flex: 1 1 50%;
                gap: 0.5rem;

                .label {
                    flex: 1 1 100%;
                    flex: 1 0 30%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    white-space: nowrap;
                    gap: 0.3rem;

                    >i {
                        font-size: 130%;
                        margin-left: 0.2rem;
                        cursor: default;
                        opacity: 0.4;

                        &[enabled="true"] {
                            cursor: pointer;
                            opacity: 1;
                        }
                    }
                }

                .value {
                    flex: 3 1 100%;

                    &.units {
                        display: flex;
                        flex-direction: row;

                        .unit {
                            width: 1.5rem;
                            height: 1.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 0.5rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .actions {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        >div {
            >i {
                font-size: 250%;
                margin-right: 0.5rem;
            }

            cursor: default;
            opacity: 0.4;
            display: flex;
            flex-direction: row;
            align-items: center;

            &[enabled="true"] {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}
