<div class="tube-icon"></div>
<div class="tube-infos" [attr.tubeid]="tube.id">
    <div class="name-wrapper">
        <div class="name" color="primary">{{ tube.label }}</div>
        <div *ngIf="type$ | async as tubeType">{{ tubeType.label }}</div>
        <div *ngIf="tube.units?.length > 1">({{ 'unit' | trans }}: {{ unit + 1 }})</div>
        <div *ngIf="tube.date && authService.isAdmin$ | async" class="last-update">{{ 'Last update' | trans }}: {{getDisplayDate(tube.date)}}</div>
        <div class="extend"></div>
        <ng-container *ngIf="tube.userId">
            <ng-container *ngIf="authService.isAdmin$ | async; else yourversion">
                <div class="user-id">{{ 'Tube of' | trans }} {{ tube.userId }}</div>
                <div *ngIf="tube.seen" class="seen" translate>seen</div>
                <div *ngIf="tube.merged" class="merged" translate>merged</div>
            </ng-container>
            <ng-template #yourversion>
                <div class="user-id" translate>Your version</div>
                <div *ngIf="tube.merged && !tube.seen" class="merged" translate>merged</div>
            </ng-template>
        </ng-container>
    </div>
    <div class="values-wrapper">
        <div class="line">
            <div class="label" translate>Filaments</div>
            <div class="value">{{ heatherInfos() }}</div>
        </div>
        <div class="line">
            <div class="label" translate>Anode</div>
            <div class="value">{{ anodeInfos() }}</div>
        </div>
        <div class="line" *ngIf="hasGrid2$ | async">
            <div class="label" translate>Grid 2</div>
            <div class="value">{{ g2Infos() }}</div>
        </div>
    </div>
    <div class="values-wrapper">
        <ng-container *ngIf="base$ | async as base">
            <div class="line">
                <div class="label">{{ 'Base' | trans }}<i [attr.enabled]="!!base.label" [app-tooltip]="baseTooltip$(base)" class="material-icons">visibility</i></div>
                <div class="value">{{ base?.label || '-' }}</div>
            </div>
        </ng-container>
        <ng-container *ngIf="pinout$ | async as pinout">
            <div class="line">
                <div class="label">{{ 'Pinout' | trans }}<i [attr.enabled]="!!pinout?.label" [app-tooltip]="pinoutTooltip$(pinout)" class="material-icons">visibility</i></div>
                <div class="value">{{ pinout?.label }}</div>
            </div>
        </ng-container>
        <div class="line" *ngIf="tube.units.length > 1">
            <div class="label" translate>Units</div>
            <div class="value units">
                <ng-container>
                    <div *ngFor="let u of tube.units; let index = index" class="unit" (click)="unit = index" [attr.selected]="unit === index || null">{{ index + 1 }}</div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div (click)="openViewer$.next($event)" color="accent" enabled="true" translate-title title="View This Tube. Ctrl+click to open in a new tab.">
        <i class="material-icons">pageview</i>
    </div>
    <div [throttle-event]="openAttachmentsDialog$()" hover="accent" [attr.enabled]="tubeService.hasTubeAttachments(tube)" translate-title title="Documents">
        <i class="material-icons">attachment</i>
        {{ tube.documents?.length + tube.usages?.length || 0 }}
    </div>
    <div [matMenuTriggerFor]="menu" enabled="true" translate-title title="More" hover="accent">
        <i color=" primary" class="material-icons">more_horiz</i>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button type="button" mat-menu-item (click)="editTube$.next({ duplicate: false, originalEvent: $event })">
        <mat-icon>edit</mat-icon>
        <span translate>Edit this tube</span>
    </button>
    <ng-container *ngIf="canCopy$() | async">
        <button type="button" mat-menu-item (click)="editTube$.next({ duplicate: true, originalEvent: $event })">
            <mat-icon>content_copy</mat-icon>
            <span translate>Copy this tube</span>
        </button>
    </ng-container>
    <button type="button" mat-menu-item [disabled]="!tubeService.hasGraphAttachment(tube.documents)" (click)="createUsage$.next($event)">
        <mat-icon>build</mat-icon>
        <span translate>Create a new usage example</span>
    </button>
    <ng-container *ngIf="authService.isAuthenticated$ | async">
        <button type="button" mat-menu-item [throttle-event]="createChart$()">
            <mat-icon>gesture</mat-icon>
            <span translate>Create a new graph for this tube</span>
        </button>
        <input #fileUpload class="file-upload" type="file" [accept]="allAcceptedFileType" (change)="uploadDocument$.next($event)">
        <button type="button" mat-menu-item (click)="fileUpload.click()">
            <mat-icon>library_books</mat-icon>
            <span translate>Attach documents to this tube</span>
        </button>
        <button type="button" *ngIf="tube.userId" mat-menu-item [throttle-event]="delete$()">
            <mat-icon>clear</mat-icon>
            <span translate>Delete the user version of this tube</span>
        </button>
    </ng-container>
</mat-menu>
