@use '@angular/material'as mat;

@mixin theme($theme) {
    app-unit {
        $background: map-get($theme, background);
        $accent: map-get($theme, accent);

        .title {
            border-bottom: 1px solid mat.get-color-from-palette($background, card);
        }

        .field {
            color: mat.get-color-from-palette($accent);
        }
    }
}
