<div class="title" *ngIf="unitIndex !== undefined">Unit {{ unitIndex + 1 }}</div>
<div class="block">
    <ng-container *ngIf="unit; else noinformation">
        <div class="row cell" *ngIf="unit.vamax">
            <div class="label" translate>Maximum Anode Voltage</div>
            <div class="field" translate>vamax</div>
            <div class="value">{{ unit.vamax }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.vamaxp">
            <div class="label" translate>Max Anode Voltage Peak</div>
            <div class="field" translate>vamaxp</div>
            <div class="value">{{ unit.vamaxp }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.pamax">
            <div class="label" translate>Maximum Anode Power</div>
            <div class="field" translate>pamax</div>
            <div class="value">{{ unit.pamax }} W</div>
        </div>
        <div class="row cell" *ngIf="unit.vg2max">
            <div class="label" translate>Maximum Grid 2 Voltage</div>
            <div class="field" translate>vg2max</div>
            <div class="value">{{ unit.vg2max }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.vg2maxp">
            <div class="label" translate>Max Grid 2 Voltage Peak</div>
            <div class="field" translate>vg2maxp</div>
            <div class="value">{{ unit.vg2maxp }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.pg2max">
            <div class="label" translate>Maximum Grid 2 Power</div>
            <div class="field" translate>pg2max</div>
            <div class="value">{{ unit.pg2max }} W</div>
        </div>
        <div class="row cell" *ngIf="unit.ig2max">
            <div class="label" translate>Maximum Grid 2 Current</div>
            <div class="field" translate>ig2max</div>
            <div class="value">{{ unit.ig2max }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.ig2maxp">
            <div class="label" translate>Max Grid 2 Current Peak</div>
            <div class="field" translate>ig2maxp</div>
            <div class="value">{{ unit.ig2maxp }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.ikmax">
            <div class="label" translate>Maximum Cathode Current</div>
            <div class="field" translate>ikmax</div>
            <div class="value">{{ unit.ikmax }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.ikmaxp">
            <div class="label" translate>Max Cathode Current Peak</div>
            <div class="field" translate>ikmaxp</div>
            <div class="value">{{ unit.ikmaxp }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.vg1nmax">
            <div class="label" translate>Max Negative Grid 1 Voltage</div>
            <div class="field" translate>vg1nmax</div>
            <div class="value">{{ unit.vg1nmax }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.vg1nmaxp">
            <div class="label" translate>Max Neg Grid 1 Voltage Peak</div>
            <div class="field" translate>vg1nmaxp</div>
            <div class="value">{{ unit.vg1nmaxp }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.vhknmax">
            <div class="label" translate>Max Heater-Cathode Neg. Volt.</div>
            <div class="field" translate>vhknmax</div>
            <div class="value">{{ unit.vhknmax }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.vhkpmax">
            <div class="label" translate>Max Heater-Cathode Pos. Volt.</div>
            <div class="field" translate>vhkpmax</div>
            <div class="value">{{ unit.vhkpmax }} V</div>
        </div>
        <div class="row cell" *ngIf="unit.ig1max">
            <div class="label" translate>Maximum Grid 1 Current</div>
            <div class="field" translate>ig1max</div>
            <div class="value">{{ unit.ig1max }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.ig1maxp">
            <div class="label" translate>Maximum Grid 1 Current Peak</div>
            <div class="field" translate>ig1maxp</div>
            <div class="value">{{ unit.ig1maxp }} mA</div>
        </div>
        <div class="row cell" *ngIf="unit.cgk">
            <div class="label" translate>Capacitances Grid-Cathode</div>
            <div class="field" translate>cgk</div>
            <div class="value">{{ unit.cgk }} pF</div>
        </div>
        <div class="row cell" *ngIf="unit.cga">
            <div class="label" translate>Capacitances Grid-Anode</div>
            <div class="field" translate>cga</div>
            <div class="value">{{ unit.cga }} pF</div>
        </div>
        <div class="row cell" *ngIf="unit.cak">
            <div class="label" translate>Capacitances Anode-Cathode</div>
            <div class="field" translate>cak</div>
            <div class="value">{{ unit.cak }} pF</div>
        </div>
    </ng-container>
    <ng-template #noinformation>
        <div class="row cell" translate>No information</div>
    </ng-template>
</div>
