@use '../../scss/step-layout'as stepLayout;
@use '../../scss/viewer-layout'as viewerLayout;

:host {
    @include stepLayout.layout();
    @include viewerLayout.layout();

    .title {
        display: flex;
        justify-content: center;
        padding: 0 0 0.5rem 0;
        margin: 0 0.5rem;
    }
}
