@use '@angular/material'as mat;

@mixin theme($theme) {
    app-editor {
        $accent: map-get($theme, accent);
        $primary: map-get($theme, primary);
        $background: map-get($theme, background);

        ul.step-list {
            li.step {
                border-left: 1px solid mat.get-color-from-palette($background, 300);

                &:before {
                    color: mat.get-color-from-palette($background, 300);
                }

                .step-title {
                    border-bottom: 1px solid mat.get-color-from-palette($primary);

                    .unit[selected="true"] {
                        color: mat.get-color-from-palette($accent);
                    }
                }
            }
        }
    }
}
