@use '../scss/step-layout'as stepLayout;
@use '../scss/editor-steps'as editorSteps;

app-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .main-toolbar-container {
        width: 100%;
    }

    .scroll-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: auto;
        gap: 1rem;

        form {
            width: 100%;
            max-width: 1440px;

            .select {
                .mat-form-field-suffix {
                    top: -0.1em;

                    .close {
                        opacity: 0.7;
                        font-size: 100% !important;
                        padding-left: 0.5rem;
                    }
                }
            }

            .empty {
                opacity: 0.7;
            }

            @include editorSteps.render();

            li.step {
                .step-title {
                    >h2 {
                        .allunits {
                            padding-left: 1rem;
                            font-size: 75%;
                        }
                    }

                    .unit {
                        flex: 0 0 auto;
                        font: inherit;
                        cursor: pointer;
                        opacity: 0.7;

                        &[selected="true"] {
                            opacity: 1;
                        }
                    }
                }

                .image-cell {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    box-sizing: border-box;

                    .image,
                    .error {
                        flex: 1 1 auto;
                        padding: 1rem;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                        >img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .usages {
                    width: 100%;
                    gap: 1rem;

                    .mat-expansion-panel-header {
                        font-size: 110% !important;
                        padding: 0 0 0 24px;

                        .mat-expansion-panel-header-title {
                            align-items: center;

                            .unit {
                                font-size: 90% !important;
                                padding: 0.2rem 1rem 0 0.5rem;
                            }
                        }

                        .mat-expansion-panel-header-description {
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}
