<div class="main-toolbar-container">
    <app-main-toolbar></app-main-toolbar>
</div>
<div class="scroll-wrapper" *ngIf="mainForm$ | async as mainForm">
    <form novalidate [formGroup]="mainForm">
        <ul class="step-list">
            <li class="step">
                <span class="step-title">
                    <h2 translate>Caracteristics</h2>
                    <div class="user-id" *ngIf="mainForm.value.userId && authService.isAdmin$ | async">{{ 'Tube of' | trans }} {{ mainForm.value.userId }}</div>
                </span>
                <div class="block">
                    <div class="row">
                        <mat-form-field appearance="outline" class="cell cell-33">
                            <mat-label translate>Name</mat-label>
                            <input type="text" matInput formControlName="name">
                            <mat-error *ngIf="errorService.getError(mainForm.controls.name.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cell cell-66">
                            <mat-label translate>Type</mat-label>
                            <mat-select formControlName="typeId">
                                <input class="option-filter" autocomplete="off" #typeFilter matInput>
                                <mat-option *ngFor="let type of filterOptions(tubeService.tubeTypes$ | async, typeFilter.value) " [value]="type.id">{{type.label}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.typeId.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="cell cell-33">
                            <mat-label translate>Filament Voltage</mat-label>
                            <input type="number" autocomplete="off" min="0" step="0.1" matInput formControlName="vh1" #vh1="matInput">
                            <span class="unit">V</span>
                            <numeric-stepper layout="horizontal-inlay" [input]="vh1"></numeric-stepper>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.vh1.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cell cell-33">
                            <mat-label translate>Filament Current</mat-label>
                            <input type="number" autocomplete="off" min="0" step="0.1" matInput formControlName="ih1" #ih1="matInput">
                            <span class="unit">A</span>
                            <numeric-stepper layout="horizontal-inlay" [input]="ih1"></numeric-stepper>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.ih1.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                        <mat-checkbox class="cell cell-33" formControlName="doubleFilament">{{ 'Double Filament' | trans }}</mat-checkbox>
                    </div>
                    <div class="row" *ngIf="mainForm.value.doubleFilament" [@rowAnimation]>
                        <mat-form-field appearance="outline" class="cell cell-33">
                            <mat-label translate>Filament Voltage</mat-label>
                            <input type="number" autocomplete="off" min="0" step="0.1" matInput formControlName="vh2" #vh2="matInput">
                            <span class="unit">V</span>
                            <numeric-stepper layout="horizontal-inlay" [input]="vh2"></numeric-stepper>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.vh2.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="cell cell-33">
                            <mat-label translate>Filament Current</mat-label>
                            <input type="number" autocomplete="off" min="0" step="0.1" matInput formControlName="ih2" #ih2="matInput">
                            <span class="unit">A</span>
                            <numeric-stepper layout="horizontal-inlay" [input]="ih2"></numeric-stepper>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.ih2.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="cell">
                            <mat-label translate>Notes</mat-label>
                            <textarea matInput formControlName="notes" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="15"></textarea>
                            <mat-error *ngIf="errorService.getError(mainForm.controls.notes.errors) as error">{{error}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="block">
                    <div class="row stretch">
                        <div class="block">
                            <mat-form-field appearance="outline" class="cell select">
                                <mat-label translate>Base</mat-label>
                                <mat-select formControlName="baseId">
                                    <input class="option-filter" autocomplete="off" #baseFilter matInput>
                                    <mat-option *ngFor="let base of filterOptions(tubeService.tubeBases$ | async, baseFilter.value) " [value]="base.id">{{base.label}}</mat-option>
                                </mat-select>
                                <mat-icon class="close" matSuffix [throttle-event]="clearControl$(mainForm.controls.baseId)">close</mat-icon>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.baseId.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <div class="cell image-cell" *ngIf="baseImageFileName$ | async as baseImageFileName">
                                <div *ngIf="!hasBaseImageError" class="image">
                                    <img #img [src]="baseImageFileName" (error)="hasBaseImageError=true">
                                </div>
                                <div *ngIf="hasBaseImageError" class="error" color="warn" translate>This file is not available.</div>
                            </div>
                        </div>
                        <div class="block">
                            <mat-form-field appearance="outline" class="cell select">
                                <mat-label translate>Pinout</mat-label>
                                <mat-select formControlName="pinoutId">
                                    <input class="option-filter" autocomplete="off" #pinoutFilter matInput>
                                    <mat-option *ngFor="let pinout of filterOptions(tubeService.tubePinouts$ | async, pinoutFilter.value) " [value]="pinout.id">{{pinout.label}}</mat-option>
                                </mat-select>
                                <mat-icon class="close" matSuffix [throttle-event]="clearControl$(mainForm.controls.pinoutId)">close</mat-icon>
                                <mat-error *ngIf="errorService.getError(mainForm.controls.pinoutId.errors) as error">{{error}}</mat-error>
                            </mat-form-field>
                            <div class="cell image-cell" *ngIf="pinoutImageFileName$ | async as pinoutImageFileName">
                                <div *ngIf="!hasPinoutImageError" class="image">
                                    <img #img [src]="pinoutImageFileName" (error)="hasPinoutImageError=true">
                                </div>
                                <div *ngIf="hasPinoutImageError" class="error" color="warn" translate>This file is not available.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="step">
                <span class="step-title">
                    <h2><span translate>Maximum Ratings</span><span class="allunits" *ngIf="unitService.symetricalUnits$ | async">(All Units)</span></h2>
                    <ng-container *ngIf="unitService.unitCount$ | async as unitCount">
                        <ng-container *ngIf="unitCount > 1">
                            <span class="unit" *ngFor="let unitIndex of [].constructor(unitCount); let index=index" [attr.selected]="index === (unitService.selectedUnitIndex$ | async)" [throttle-event]="selectUnitIndex$(index)">unit {{index + 1}}</span>
                        </ng-container>
                    </ng-container>
                </span>

                <ng-container *ngIf="unitService.unitCount$ | async; else nounit">
                    <ng-container *ngIf="unitService.selectedUnit$ | async as selectedUnit; else nounit">
                        <app-unit class="block" [value]="selectedUnit" (valueChange)="updateUnit$.next($event)" [hasG1]="selectedUnitHasG1$ | async" [hasG2]="selectedUnitHasG2$ | async"></app-unit>
                    </ng-container>
                </ng-container>
                <ng-template #nounit>
                    <span class="empty" translate>No type selected</span>
                </ng-template>
            </li>
            <li class="step">
                <span class="step-title">
                    <h2 translate>Usage Examples</h2>
                    <span *ngIf="(hasGraphAttachment$ | async) === false" translate>At least one transfer graph must be added to the documents of the tube to enable this fonctionality</span>
                    <span class="actions">
                        <button type="button" [disabled]="!mainForm.value.id || (hasGraphAttachment$ | async) === false" class="action" hover="accent" mat-icon-button translate-title title="Create a new usage example for this tube" (click)="createUsage$.next($event)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </span>
                <ng-container *ngIf="usages$ | async as usages">
                    <mat-accordion class="block usages" *ngIf="usages?.length> 0; else nousage">
                        <mat-expansion-panel #expansion *ngFor="let usage of usages" togglePosition="before">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{ usage.label }}<span class="unit" *ngIf="unitService.hasMultiUnits$ | async">({{ 'unit' | trans }} {{ usage.unit + 1 }} )</span>
                                </mat-panel-title>
                                <mat-panel-description class="actions">
                                    <button type="button" hover="accent" class="action" mat-icon-button (click)="openUsage$.next({usageId: usage.id, originalEvent: $event})" translate-title title="Edit the usage example">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button type="button" hover="accent" class="action" mat-icon-button (click)="deleteUsage$.next([$event, usage])" translate-title title="Delete the usage example">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <app-usage-viewer *ngIf="expansion.expanded" [tube]="tube$ | async" [usage]="usage" [document]="(documentMap$ | async).get(usage.traces)"></app-usage-viewer>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <ng-template #nousage>
                        <span class="empty" translate>No usage example</span>
                    </ng-template>
                </ng-container>
            </li>
            <li class="step">
                <span class="step-title">
                    <h2 translate [attr.color]="mainForm.hasError('documentDuplicated') ? 'warn' : null">Files</h2>
                    <mat-error *ngIf="mainForm.hasError('documentDuplicated')" translate>The list of documents contains identical names</mat-error>
                    <span class="actions">
                        <button type="button" class="action" hover="accent" mat-icon-button translate-title title="Create a new graph for this tube" (click)="addGraph$.next()">
                            <mat-icon>auto_graph</mat-icon>
                        </button>
                        <input #fileUpload class="file-upload" type="file" [accept]="allAcceptedFileType" (change)="uploadDocument$.next($event)">
                        <button type=" button" class="action" hover="accent" mat-icon-button translate-title title="Upload a new document for this tube" (click)="fileUpload.click()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </span>
                </span>

                <ng-container formArrayName="documents" *ngIf="documentFormArrayControls$ | async as documentFormArrayControls">
                    <ng-container *ngIf="documentFormArrayControls.length; else nodocument">
                        <ng-container *ngFor="let documentControl of documentFormArrayControls let i=index" [formGroup]="documentControl">
                            <app-document class="row" formControlName="document" (openDocument)="downloadDocument$.next({filename: $event.filename, userId: undefined, label: $event.label, originalEvent: $event.originalEvent})" (deleteDocument)="deleteDocument$.next({index: i, document: $event})"></app-document>
                        </ng-container>
                    </ng-container>
                    <ng-template #nodocument>
                        <span class="empty" translate>No documents</span>
                    </ng-template>
                </ng-container>
            </li>
        </ul>
    </form>
</div>
