app-transfer-graph-editor {
    highcharts-chart {
        position: absolute;
        overflow: visible !important;

        >div {
            overflow: visible !important;

            svg {
                overflow: visible
            }
        }
    }
}
