@use '@angular/material'as mat;
@use 'src/app/common/theme'as common;
@use 'src/app/common/theme-utils'as utils;
@use 'src/app/home/home-theme'as home;
@use 'src/app/viewer/viewer-theme'as viewer;
@use 'src/app/editor/editor-theme'as editor;
@use 'src/app/creator/creator-theme'as creator;
@use 'src/app/sign-in/sign-in-theme'as signIn;
@use 'src/app/components/usage-viewer/usage-viewer-theme'as usage;
@use 'src/app/components/transfer-graph/transfer-graph-theme'as transferGraph;
@use 'src/app/components/main-toolbar/main-toolbar-theme'as mainToolbar;
@use 'src/app/components/chart-wizard-dialog/chart-wizard-theme'as chartWizard;

@mixin theme($theme) {
    @include common.theme($theme);
    @include home.theme($theme);
    @include viewer.theme($theme);
    @include editor.theme($theme);
    @include creator.theme($theme);
    @include signIn.theme($theme);
    @include transferGraph.theme($theme);
    @include chartWizard.theme($theme);
    @include usage.theme($theme);
    @include mainToolbar.theme($theme);

    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    .mat-input-element.mat-form-field-autofill-control.option-filter {
        @include utils.colorize($background, 600);
        border-bottom: 1px solid mat.get-color-from-palette($primary, 500);
    }
}
