<ng-container *ngIf="chartOptions$ | async as chartOptions">
    <mat-checkbox class="zoom" [checked]="zoomEnabled$ | async" (change)="setZoomEnability($event.checked)"><span>{{ 'Zoom Enabled' | trans }}</span></mat-checkbox>
    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions" [attr.editable]="editable$ | async"></highcharts-chart>
    <div class="performances" *ngIf="transferGraphUsageService.partialUsage$ | async">
        <div class="block">
            <div class="row cell">
                <div class="label">{{'Puissance Max.' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.powerMax$ | async as powerMax; else novalue">{{formatPower(powerMax.pmax)}}</div>
            </div>
            <div class="row cell">
                <div class="label">{{'Output Voltage (peak-peak)' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.powerMax$ | async as powerMax; else novalue">{{round(powerMax.vapp, 0)}} V</div>
            </div>
            <div class="row cell">
                <div class="label">{{'Amplification Factor' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.gain$ | async as gain; else novalue">{{round(gain, 1)}}</div>
            </div>
            <div class="row cell">
                <div class="label">{{'Transconductance' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.transconductance$ | async as transconductance; else novalue">{{round(transconductance, 2)}} mA/V</div>
            </div>
            <div class="row cell">
                <div class="label">{{'Internal Resistance' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.internalResistance$ | async as internalResistance; else novalue">{{round(internalResistance, 0)}} KOhms</div>
            </div>
        </div>
        <div class="block">
            <div class="row cell">
                <div class="label">{{'H2' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.h2$ | async as h2; else novalue">{{round(h2, 2)}} %</div>
            </div>
            <div class="row cell">
                <div class="label">{{'H3' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.h3$ | async as h3; else novalue">{{round(h3, 2)}} %</div>
            </div>
            <div class="row cell">
                <div class="label">{{'H4' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.h4$ | async as h4; else novalue">{{round(h4, 2)}} %</div>
            </div>
            <div class="row cell">
                <div class="label">{{'H Total' | trans}}</div>
                <div class="value" *ngIf="transferGraphComputeService.htot$ | async as htot; else novalue">{{round(htot, 2)}} %</div>
            </div>
        </div>

        <ng-template #novalue>
            <div class="value">-</div>
        </ng-template>
    </div>
</ng-container>
