@use '../../scss/step-layout'as stepLayout;
@use '../../scss/viewer-layout'as viewerLayout;

app-transfer-graph {
    display: flex;
    flex-direction: column;
    position: relative;

    @include stepLayout.layout();
    @include viewerLayout.layout();

    highcharts-chart {
        flex: 1 1 auto;
        width: 100%;
        height: 50vh;
        min-height: 640px;
        display: block;
    }

    .zoom {
        position: absolute;
        right: 20px;
        top: 8px;
        z-index: 1;
    }

    .performances {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0 0 0;
        box-sizing: border-box;

        .block {
            padding: 0;

            .value {
                justify-content: flex-start !important;
            }
        }
    }

    [editable="true"] {
        .tct-draggable {
            cursor: pointer
        }
    }
}
