@use '@angular/material'as mat;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    app-main-toolbar {
        $accent: map-get($theme, accent);

        .mat-button-toggle {
            &.mat-button-toggle-checked {
                @include utils.colorize($accent, 500);
            }
        }
    }
}
