app-main-toolbar {
    * {
        box-sizing: border-box;
    }

    .app-toolbar {
        display: flex;
        align-items: center;
        gap: 1rem;

        .title-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex: 1 1 auto;
            overflow: hidden;
            cursor: pointer;

            .logo {
                width: 40px;
                height: 40px;
                position: relative;
                overflow: hidden;
                flex: 0 0 auto;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .title {
                font-size: 130% !important;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .version {
                font-size: 65%;
                padding-top: 0.5rem;
            }
        }

        .actions-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            flex: 1 1 auto;

            [hidden="true"] {
                display: none;
            }
        }

        .sign-in {
            .mat-button-wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }

        .user-info {
            padding: 0;

            .mat-button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                .avatar {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    border: 0;
                    border-radius: 50%;
                    overflow: hidden;
                    flex: 0 0 auto;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

.app-menu-theme {
    .mat-menu-item {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .mat-icon {
            margin: 0;
        }
    }
}
