<mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <span class="title-wrapper" (click)="goHome$.next($event)">
        <img class="logo" src="assets/images/logo.svg">
        <h1 class="title">Tube Curve Tracer</h1>
        <div class="version">{{ fileService.appVersion$ | async }}</div>
    </span>

    <span class="actions-wrapper">
        <mat-button-toggle-group [ngModel]="compareService.compareView$ | async" (ngModelChange)="compareService.compareView$.next($event)" *ngIf="comparatorEnabled && compareService && (authService.isAdmin$ | async)">
            <mat-button-toggle value="global" translate-title title="View global tube version">
                <mat-icon>public</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="user" translate-title title="View user tube version">
                <mat-icon>person_outline</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="comparator" translate-title title="compare">
                <mat-icon>compare_arrows</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <button *ngIf="undoRedoService" [disabled]="(undoRedoService.canUndo$ | async) === false" type="button" mat-icon-button translate-title title="Undo" aria-label="Undo" [throttle-event]="undo$()">
            <mat-icon>undo</mat-icon>
        </button>
        <button *ngIf="undoRedoService" [disabled]="(undoRedoService.canRedo$ | async) === false" type="button" mat-icon-button translate-title title="Redo" aria-label="Redo" [throttle-event]="redo$()">
            <mat-icon>redo</mat-icon>
        </button>
        <button *ngIf="saveService" [attr.hidden]="(saveService.canSave$ | async) === undefined" [disabled]="(saveService.canSave$ | async) === false" type="button" mat-icon-button translate-title title="Save" aria-label="Save" (click)="save()">
            <mat-icon>save</mat-icon>
        </button>
    </span>

    <ng-container *ngIf="authService.isAdmin$ | async">
        <button type="button" mat-icon-button translate-title i18n-title title="Administration Tools" [matMenuTriggerFor]="menuAdmin" class="app-toolbar-admin">
            <mat-icon>admin_panel_settings</mat-icon>
        </button>
        <mat-menu class="app-menu-admin" #menuAdmin="matMenu" #colorMenu="matMenu" xPosition="before">
            <button type="button" mat-menu-item [throttle-event]="printUnusedDocuments$()">
                <mat-icon>cleaning_services</mat-icon>
                <span translate>Print unused document list in the console</span>
            </button>
            <button type="button" mat-menu-item [throttle-event]="fixUids$()">
                <mat-icon>auto_fix_normal</mat-icon>
                <span translate>Fix duplicate uid's in documents and usages</span>
            </button>
        </mat-menu>
    </ng-container>

    <ng-container *ngIf="themeService.currentTheme$ | async as currentTheme">
        <button type="button" mat-icon-button translate-title title="Select a theme" aria-label="Theme toggle" [matMenuTriggerFor]="menuThemes" class="app-toolbar-theme">
            <mat-icon>palette</mat-icon>
        </button>
        <mat-menu class="app-menu-theme" #menuThemes="matMenu" #colorMenu="matMenu" xPosition="before">
            <button *ngFor="let item of themeService.themeItems" type="button" mat-menu-item [attr.selected]="(currentTheme === item.theme) || null" (click)="themeService.theme$.next(item.theme)">
                <button mat-mini-fab [attr.style]="'background-color:' + item.color">
                    <mat-icon *ngIf="currentTheme === item.theme">check</mat-icon>
                </button>
                <span>{{item.label}}</span>
            </button>
        </mat-menu>
    </ng-container>

    <button type="button" mat-icon-button translate-title i18n-title title="Select a language" [matMenuTriggerFor]="menuLangs" class="app-toolbar-lang">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu class="app-menu-lang" #menuLangs="matMenu" #colorMenu="matMenu" xPosition="before">
        <button *ngFor="let item of translationService.langs" type="button" mat-menu-item [attr.selected]="((translationService.currentLocale$ | async) === item.id) || null" [throttle-event]="updateLang$(item.id)">
            <span>{{item.label}}</span>
        </button>
    </mat-menu>

    <ng-container *ngIf="authService.authenticatedUser$ | async as authenticatedUser; else signin">
        <button type="button" mat-button class="user-info" [matMenuTriggerFor]="menuPerson" aria-label="User">
            <ng-template [ngTemplateOutlet]="personContent"></ng-template>
        </button>
        <ng-template #personContent>
            <ng-container *ngIf="(loadAvatarError$ | async) === false && authenticatedUser.photoURL as photoURL; else noavatar">
                <span class="avatar" mat-mini-fab>
                    <img [src]="photoURL" (error)="loadAvatarError$.next(true)">
                </span>
            </ng-container>
            <ng-template #noavatar>
                <button class="avatar" mat-mini-fab>
                    <mat-icon>person</mat-icon>
                </button>
            </ng-template>
            {{ authenticatedUser.displayName || authenticatedUser.email }}
        </ng-template>
        <mat-menu #menuPerson="matMenu">
            <button type="button" mat-menu-item [throttle-event]="logout$()" aria-label="Logout">
                <mat-icon>exit_to_app</mat-icon>
                <span translate>Logout</span>
            </button>
        </mat-menu>
    </ng-container>
    <ng-template #signin>
        <a class="sign-in" mat-button (click)="signIn()" aria-label="Sign in">
                <mat-icon>account_circle</mat-icon>
                <span translate>Sign in</span>
            </a>
    </ng-template>
</mat-toolbar>
