/* You can add global styles to this file, and also import other style files */
@use '@angular/material'as mat;
@use '@fontsource/material-icons';
@use 'src/app/scss/roboto';
@use 'src/app/scss/variables/palette'as palette;
@use 'src/app/scss/components/loader'as loader;
@use 'src/app/scss/components/mat-menu-theme'as menu;
@use 'src/app/scss/components/mat-overlay-theme'as overlay;
@use 'src/app/scss/components/mat-select-theme'as select;
@use 'src/app/common/theme-utils'as utils;
@use 'src/app/app-theme'as app;

html,
body#tct-body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body#tct-body {
    font-family: Roboto;
    font-size: 14px;

    // Include the common styles for Angular Material. We include this here so that you only
    // have to load a single css file for Angular Material in your app.
    // Be sure that you only ever include this mixin once!
    @include mat.core();

    @mixin create-theme($colors, $accent-colors, $background-colors, $dark) {
        // Define the palettes for your theme using the Material Design palettes available in palette.scss
        // (imported above). For each palette, you can optionally specify a default, lighter, and darker
        // hue.
        $primary: mat.define-palette($colors);
        $accent: mat.define-palette($accent-colors);
        $background: mat.define-palette($background-colors);

        // The error and warn palettes.
        $warning: mat.define-palette(mat.$amber-palette);
        $warn: mat.define-palette(mat.$red-palette);

        // Create the theme object (a Sass map containing all of the palettes).
        $theme: mat.define-light-theme($primary, $accent, $warn);

        @if $dark==true {
            $theme: mat.define-dark-theme($primary, $accent, $warn);
        }

        // Insert custom palettes
        $theme: map_merge($theme, (warning: $warning));
        $theme: map_merge($theme, (warn: $warn));
        $theme: map_merge($theme, (background: $background));

        // Emit theme-dependent styles for common features used across multiple components.
        @include mat.core-theme($theme);

        @include mat.all-component-themes($theme);

        // Include theme styles for core and each component used in the app.
        @include loader.theme($theme);
        @include menu.theme($theme);
        @include overlay.theme($theme);
        @include select.theme($theme);
        @include app.theme($theme);

        @include utils.colorize($background, 900);

        [color="primary"] {
            color: mat.get-color-from-palette($primary);
        }

        [color="accent"] {
            color: mat.get-color-from-palette($accent);
        }

        [color="warning"] {
            color: mat.get-color-from-palette($warning);
        }

        [color="warn"] {
            color: mat.get-color-from-palette($warn, 700);
        }

        [hover="primary"] {
            &:hover {
                color: mat.get-color-from-palette($primary);
            }
        }

        [hover="accent"] {
            &:hover {
                color: mat.get-color-from-palette($accent);
            }
        }

        [hover="warning"] {
            &:hover {
                color: mat.get-color-from-palette($warning);
            }
        }

        [hover="warn"] {
            &:hover {
                color: mat.get-color-from-palette($warn, 700);
            }
        }

        [fill="primary"] {
            @include utils.colorize($primary, 500);
        }

        [fill="accent"] {
            @include utils.colorize($accent, 500);
        }

        [fill="warning"] {
            @include utils.colorize($warning, 500);
        }

        [fill="warn"] {
            @include utils.colorize($warn, 500);
        }
    }

    @include create-theme(palette.$blue-dark-palette, mat.$teal-palette, palette.$background-light-palette, false);

    &[theme="darkBlue"] {
        @include create-theme(palette.$blue-light-palette, mat.$teal-palette, palette.$background-dark-palette, true);
    }

    &[theme="darkGreen"] {
        @include create-theme(palette.$green-light-palette, mat.$deep-orange-palette, palette.$background-dark-palette, true);
    }

    &[theme="lightGreen"] {
        @include create-theme(palette.$green-dark-palette, mat.$deep-orange-palette, palette.$background-light-palette, false);
    }

    &[theme="darkPink"] {
        @include create-theme(palette.$pink-light-palette, mat.$indigo-palette, palette.$background-dark-palette, true);
    }

    &[theme="lightPink"] {
        @include create-theme(palette.$pink-dark-palette, mat.$indigo-palette, palette.$background-light-palette, false);
    }

    &[theme="darkOrange"] {
        @include create-theme(palette.$orange-light-palette, mat.$blue-palette, palette.$background-dark-palette, true);
    }

    &[theme="lightOrange"] {
        @include create-theme(palette.$orange-dark-palette, mat.$blue-palette, palette.$background-light-palette, false);
    }

    &[theme="darkBlueGray"] {
        @include create-theme(palette.$bluegray-light-palette, mat.$deep-orange-palette, palette.$background-dark-palette, true);
    }

    &[theme="lightBlueGray"] {
        @include create-theme(palette.$bluegray-dark-palette, mat.$deep-orange-palette, palette.$background-light-palette, false);
    }

    &[theme="darkCyan"] {
        @include create-theme(palette.$cyan-light-palette, mat.$orange-palette, palette.$background-dark-palette, true);
    }

    &[theme="lightTeal"] {
        @include create-theme(palette.$teal-dark-palette, mat.$orange-palette, palette.$background-light-palette, false);
    }

    &[dark-theme="true"] {
        [graph-icon] {
            background-image: url("assets/images/curves-dark.svg");
        }

        .tube-icon {
            background-image: url("assets/images/tube-dark.svg");
        }

        .tube-waiter {
            &:before {
                content: url("assets/images/tube-dark.svg");
            }
        }
    }

    &:not([dark-theme="true"]) {
        [graph-icon] {
            background-image: url("assets/images/curves.svg");
        }

        .tube-icon {
            background-image: url("assets/images/tube.svg");
        }

        .tube-waiter {
            &:before {
                content: url("assets/images/tube.svg");
            }
        }
    }

    @media screen and (min-width: 1401px) {
        font-size: 100%;
    }

    @media screen and (max-width: 1400px) {
        font-size: 95%;
    }

    @media screen and (max-width: 1200px) {
        font-size: 90%;
    }

    @media screen and (max-width: 768px) {
        font-size: 85%;
    }

    @media screen and (max-width: 640px) {
        font-size: 80%;
    }

    @media screen and (max-width: 320px) {
        font-size: 75%;
    }

    [noselect] {
        user-select: none;
        /* supported by Chrome and Opera */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
    }

    .tube-icon {
        background-repeat: no-repeat;
    }

    .tube-waiter,
    .tube-error {

        &:after,
        &:before {
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            height: 16rem;
            width: 8rem;
            transform: translate(-50%, -50%);
        }

        &:after {
            content: url("assets/images/tube-plates.svg");
            animation-name: heat;
            animation-duration: 1.0s;
            animation-timing-function: ease-in;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running;
        }

        @keyframes heat {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 0.5;
            }
        }
    }

    .tube-error {
        &:before {
            opacity: 0.9;
            content: url("assets/images/tube-error.svg");
        }

        &:after {
            animation-name: error;
        }

        @keyframes error {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 0.85;
            }
        }
    }

    .cdk-overlay-pane {
        &.no-padding-dialog {
            .mat-dialog-container {
                padding: 0;
            }
        }

        .mat-menu-panel {
            max-width: 100vw;
        }

        &.tooltip {
            opacity: 0;

            &.tooltip-opening {
                transition: 300ms opacity linear;
            }

            &.tooltip-opened {
                opacity: 1;
            }
        }
    }

    .mat-dialog-container {
        padding: 0;
        overflow: hidden;
        height: auto;

        .mat-dialog-content {
            margin: 0;
        }

        .dialog-toolbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            min-height: 2.5rem;
            gap: 1rem;
            padding: 0.5rem;
            flex: 0 0 auto;

            .dialog-title {
                flex: 1 1 auto;
                font-size: 120%;
                overflow: hidden;
            }

            .dialog-action {
                display: flex;
                justify-content: baseline;
                align-items: center;
                cursor: pointer;
                font-size: 85%;
                opacity: 0.9;
            }
        }

        .dialog-container {
            padding: 1rem;
            max-height: 65vh;
            max-width: 90vw;
            overflow: auto;
        }

        .dialog-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.7rem;

            .mat-button {
                margin: 0 0.5rem;
            }
        }
    }

    .mat-input-element.mat-form-field-autofill-control.option-filter {
        width: 100%;
        padding: 0.5rem 1rem;
        height: 3rem;
        box-sizing: border-box;
    }

    .mat-form-field {
        .mat-form-field-label-wrapper {
            font-size: 85%;
            opacity: 0.8;
            transition: opacity 400ms ease-out;
        }

        &:hover {
            &.mat-form-field-hide-placeholder {
                .mat-form-field-label-wrapper {
                    opacity: 0;
                }
            }
        }
    }

    input.file-upload {
        display: none;
    }

    input:-internal-autofill-selected {
        background-color: transparent;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}
