<ng-container *ngIf="result$ | async as result; else error">
    <mat-progress-spinner color="primary" [mode]="result?.progress ? 'determinate' : 'indeterminate'" [value]="result?.progress"></mat-progress-spinner>
    <div class="progress-label">{{ result?.progress || 0 }}%</div>
    <div class="progress-status" [innerText]="(result?.progress ? 'loading' : 'initializing') | trans"></div>
</ng-container>
<ng-template #error>
    <span color="warn">{{ errorMessage }}</span>
</ng-template>
