:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progress-label {
        margin-top: -3.6rem;
        padding-bottom: 2.5rem;
        z-index: 1001;
    }

    .progress-status {
        padding: 1rem;
    }
}
