<mat-toolbar class="dialog-toolbar" color="primary">
    <span class="dialog-title">{{ dialogParams.title }}</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="dialog-container">
    <span *ngIf="dialogParams.text" [innerHTML]="dialogParams.text"></span>
    <ng-container *ngIf="dialogParams.dialogType === 'input'">
        <mat-form-field>
            <mat-label *ngIf="dialogParams.fieldLabel" [innerHTML]="dialogParams.fieldLabel"></mat-label>
            <input #inputref matInput [(ngModel)]="value" />
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="dialogParams.dialogType === 'textarea'">
        <mat-form-field>
            <mat-label *ngIf="dialogParams.fieldLabel" [innerHTML]="dialogParams.fieldLabel"></mat-label>
            <textarea #inputref matInput cdkTextareaAutosize [(ngModel)]="value"></textarea>
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="dialogParams.dialogType === 'number'">
        <mat-form-field appearance="outline">
            <mat-label *ngIf="dialogParams.fieldLabel" [innerHTML]="dialogParams.fieldLabel"></mat-label>
            <input #inputref type="number" autocomplete="off" matInput [(ngModel)]="value" #numeric="matInput">
            <numeric-stepper layout="horizontal-inlay" [input]="numeric"></numeric-stepper>
        </mat-form-field>
    </ng-container>
</div>

<div class="dialog-buttons">
    <button type="button" mat-button [mat-dialog-close]="" color="primary" translate>Cancel</button>
    <button type="button" [disabled]="value === undefined" mat-stroked-button [mat-dialog-close]="value" color="primary" translate>Ok</button>
</div>
