:host {
    padding-top: 1rem;
    min-width: 400px;

    .dialog-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 0.5rem 1rem;
        gap: 1rem;

        mat-form-field {
            width: 100%;
        }
    }
}
