@use '@angular/material'as mat;
@use './tube-card/tube-card-theme'as tubeCard;
@use 'src/app/common/theme-utils'as utils;

@mixin theme($theme) {
    app-home {
        @include tubeCard.theme($theme);
        $primary: map-get($theme, primary);
        $warn: map-get($theme, warn);

        .search-wrapper {
            .search-btn {
                @include utils.colorize($primary, 500);

                &:hover {
                    @include utils.colorize($primary, 800);
                }
            }

            .mat-form-field-invalid {
                .search-btn {
                    @include utils.colorize($warn, 500);

                    &:hover {
                        @include utils.colorize($warn, 800);
                    }
                }
            }
        }
    }
}
