<div class="main-toolbar-container">
    <app-main-toolbar></app-main-toolbar>
</div>
<div class="search-wrapper">
    <ng-container *ngIf="advancedForm$ | async as advancedForm">
        <div class="title-wrapper advanced">
            <span class="title" translate>Add your search criteria</span>
            <mat-checkbox *ngIf="authService.isAdmin$ | async" [checked]="tubeService.showUserTubes$ | async" (change)="tubeService.showUserTubes$.next($event.checked)">{{ 'Show user tubes' | trans }}</mat-checkbox>
            <span class="link" link color="accent" (click)="addCriterion$.next()" translate>Add a search criterion</span>
            <span class="link" link color="primary" (click)="addTube$.next($event)" translate>Add a new tube</span>
            <span class="link" link color="primary" [throttle-event]="advancedSearch$(false)" translate>Simple Search</span>
        </div>
        <form [formGroup]="advancedForm">
            <ng-container formArrayName="criteria" *ngIf="criterionFormArray$ | async as criterionFormArray">
                <div class="criterion" *ngFor="let criterionControl of criterionFormArray.controls let ti=index" [formGroupName]="ti">
                    <mat-form-field class="name" appearance="outline">
                        <mat-label translate>Select a search criterion</mat-label>
                        <mat-select formControlName="id">
                            <input class="option-filter" autocomplete="off" #definitionFilter matInput placeholder="filter">
                            <mat-option *ngFor="let criterionDefinition of filterOptions(criteriaService.criterionDefinitions$ | async, definitionFilter.value)" [value]="criterionDefinition.id">{{criterionDefinition.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="(criteriaService.criterionDefinitionMap$ | async).get(criterionControl.value.id) as criterionDefinition">
                        <ng-container *ngIf="criteriaService.operatorDefinitionMap$ | async as operatorDefinitionMap">
                            <mat-form-field class="operator" appearance="outline">
                                <mat-label translate>Operator</mat-label>
                                <mat-select formControlName="operator">
                                    <mat-option *ngFor="let operator of operatorDefinitionMap.get(criterionDefinition.type)" [value]="operator.value">{{operator.title}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <ng-container [ngSwitch]="criterionDefinition.type">
                            <mat-form-field class="value" appearance="outline" *ngSwitchCase="'lookup'">
                                <mat-label translate>Value</mat-label>
                                <mat-select formControlName="value">
                                    <input class="option-filter" autocomplete="off" #lookupFilter matInput placeholder="filter">
                                    <mat-option *ngFor="let item of filterOptions(criterionDefinition.lookup, lookupFilter.value)" [value]="item.id.toString()">{{item.label}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="value" appearance="outline" *ngSwitchCase="'number'">
                                <mat-label translate>Value</mat-label>
                                <input type="number" autocomplete="off" matInput formControlName="value" #valueInput="matInput">
                                <span class="unit" *ngIf="criterionDefinition.unit as unit">{{ unit }}</span>
                                <numeric-stepper layout="horizontal-inlay" [input]="valueInput"></numeric-stepper>
                            </mat-form-field>
                            <mat-checkbox class="value" formControlName="value" *ngSwitchCase="'boolean'">{{ criterionDefinition.label }}</mat-checkbox>
                            <mat-form-field class="value" appearance="outline" *ngSwitchDefault>
                                <mat-label translate>Value</mat-label>
                                <input matInput type="text" formControlName="value">
                            </mat-form-field>
                        </ng-container>
                    </ng-container>
                    <button type="button" class="clear" (click)="removeCriterion$.next(ti)" mat-icon-button translate-title title="Clear">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </ng-container>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('duplicate')" translate>Duplicated criterion</mat-error>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('invalidOperator')" translate>Invalid operator in a criterion</mat-error>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('invalidValue')" translate>Invalid value in a criterion. With the specified operators, the value must be a number.</mat-error>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('invalidLookup')" translate>Invalid value in a criterion. The value must correspond to an existing possibility.</mat-error>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('invalidId')" translate>Invalid criterion. The value must correspond to an existing parameter.</mat-error>
            <mat-error *ngIf="advancedForm.controls.criteria.hasError('requiredValue')" translate>Invalid value in a criterion. The value is mandatory.</mat-error>
        </form>
    </ng-container>
    <ng-container *ngIf="simpleForm$ | async as simpleForm">
        <div class="title-wrapper">
            <mat-checkbox *ngIf="authService.isAdmin$ | async" [checked]="tubeService.showUserTubes$ | async" (change)="tubeService.showUserTubes$.next($event.checked)">{{ 'Show user tubes' | trans }}</mat-checkbox>
            <span class="link" link color="primary" (click)="addTube$.next($event)" translate>Add a new tube</span>
            <span class="link" link color="primary" [throttle-event]="clearSearch$()" translate>Clear Search</span>
            <span class="link" link color="primary" [throttle-event]="advancedSearch$(true)" translate>Advanced Search</span>
        </div>
        <form [formGroup]="simpleForm" class="simple-search-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'Search for a reference' | trans }} (ex. 12AT7, ECC88, 807)</mat-label>
                <input #searchInput class="search-input" matInput type="text" formControlName="search">
                <span class="search-btn" matSuffix link (click)="reloadSearch$.next()">
                    <mat-icon>search</mat-icon>
                </span>
                <mat-error *ngIf="simpleForm.controls.search.hasError('duplicate')" translate>Duplicated search params</mat-error>
                <mat-error *ngIf="simpleForm.controls.search.hasError('invalidOperator')" translate>Invalid operator</mat-error>
                <mat-error *ngIf="simpleForm.controls.search.hasError('invalidValue')" translate>Invalid value. With the specified operators, the value must be a number.</mat-error>
                <mat-error *ngIf="simpleForm.controls.search.hasError('invalidLookup')" translate>Invalid value. The value must correspond to an existing possibility.</mat-error>
                <mat-error *ngIf="simpleForm.controls.search.hasError('invalidId')" translate>Invalid criterion. The value must correspond to an existing parameter.</mat-error>
                <mat-error *ngIf="simpleForm.controls.search.hasError('requiredValue')" translate>Invalid value. You must specify a value to search.</mat-error>
            </mat-form-field>
        </form>
    </ng-container>
</div>
<div class="result-wrapper" *rxIf="tubesLoader$;let tubes;loading:loading;error:error">
    <span class="counter" *ngIf="tubes?.length > 1; else single">{{ tubes?.length }} {{ 'tubes match your criterion.' | trans }}</span>
    <ng-template #single>
        <span class="counter">{{ tubes?.length || 0 }} {{ 'tube match your criterion.' | trans }}</span>
    </ng-template>
    <viewport *ngIf="tubes?.length" [models]="tubes" itemSize="145" buttonsStep="145" viewPortMode="auto">
        <ng-template #viewPortItemTemplate let-item>
            <tube-card border-color="contrast" [tube]="item.model"> </tube-card>
        </ng-template>
    </viewport>
</div>
<ng-template #loading>
    <div class="tube-waiter"><span translate>Heating...</span></div>
    <div class="backdrop"></div>
</ng-template>
<ng-template #error let-err="$error">
    <div class="tube-error"><span color="warn">{{ err.message || err }}</span></div>
    <div class="backdrop"></div>
</ng-template>
