app-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 1rem;
    overflow: hidden;

    .main-toolbar-container {
        width: 100%;
    }

    .tube-error,
    .tube-waiter {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        >span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 10rem);
        }
    }

    .no-tubes {
        padding: 1rem 0;
    }

    .tube-waiter-backdrop {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.1;
    }

    .counter {
        opacity: 0.7;
    }

    .result-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 480px;
        gap: 1rem;
        padding: 0 1rem 1rem 1rem;
        box-sizing: border-box;
    }

    .result-wrapper,
    .no-tubes {
        width: 100%;
        max-width: 1200px;
    }

    .search-wrapper {
        width: 100%;
        max-width: 1200px;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem 0 1rem;
        gap: 1rem;
        box-sizing: border-box;

        .title-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            &.advanced {
                justify-content: space-between;
            }

            .title {
                flex: 1 1 auto;
            }

            .link {
                flex: 0 0 auto;
                font-weight: 500;
                margin-left: 1rem;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .simple-search-wrapper {
            display: flex;
            flex: 1 1 auto;

            .mat-form-field {
                width: 100%;

                .mat-form-field-outline {
                    z-index: 1;
                }

                .mat-form-field-suffix {
                    position: absolute;
                    height: calc(100% - 0.25em);
                    width: 54px;
                    right: 0;
                    top: 0.25em;

                    .search-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        height: 100%;
                        width: 100%;
                        border-radius: 0 5px 5px 0;
                    }
                }
            }
        }

        .criterion {
            display: flex;
            gap: 1rem;
            align-items: baseline;

            >.mat-form-field,
            >.mat-checkbox {
                flex: 1 1 33.3%;
            }
        }
    }
}
