<mat-toolbar class="dialog-toolbar" color="primary">
    <span class="dialog-title">{{ dialogParams.title }}</span>
    <button type="button" class="close" mat-icon-button [mat-dialog-close] translate-title title="Close">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<div class="dialog-container">
    <div [innerHTML]="dialogParams.text"></div>
</div>

<div class="dialog-buttons">
    <button *ngIf="hasControl('CANCEL')" type="button" mat-button mat-dialog-close="cancel" color="primary" translate>Cancel</button>
    <button *ngIf="hasControl('IGNORE')" type="button" mat-button mat-dialog-close="ignore" color="primary" translate>Ignore</button>
    <button *ngIf="hasControl('RETRY')" type="button" mat-stroked-button default mat-dialog-close="retry" color="primary" translate>Retry</button>
    <button *ngIf="hasControl('OK')" type="button" mat-stroked-button mat-dialog-close="ok" color="primary" translate>Ok</button>
</div>
